<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<ul th:fragment="Sidebar">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="objectDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>운영 정보 조회</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="objectDropDown" >
            <h6 class="dropdown-header">Object 정보.</h6>
            <a class="dropdown-item" href=# th:href="@{/}">참조 Object.</a>
            <a class="dropdown-item" href=# th:href="@{/}">Ogg 동기화.</a>
            <a class="dropdown-item" href=# th:href="@{/}">mySession.</a>
            <div class="dropdown-divider"></div>
        </div>
    </li>
    <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="sqlDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>SQL 정보</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="sqlDropdown">
            <h6 class="dropdown-header">SQL 정보</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item active" href=# th:href="@{/sqlListByObject}">SQL Application.</a>
            <a class="dropdown-item" href=# th:href="@{/}">SQL 수행빈도.</a>
            <a class="dropdown-item" href=# th:href="@{/}">Top SQL.</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Other Pages:</h6>
            <a class="dropdown-item" href="404.html">404 Page</a>
            <a class="dropdown-item" href="blank.html">Blank Page</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="#" id="opDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>운영 기능</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="opDropdown">
            <h6 class="dropdown-header">운영 업무.</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item active" href=# th:href="@{/sqlListByObject}">DB Jobs.</a>
            <a class="dropdown-item" href=# th:href="@{/}">Object별 권한.</a>
            <a class="dropdown-item" href=# th:href="@{/}">Plan Management.</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="testMenuDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Test (realestate)</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="testMenuDropDown" >
            <h6 class="dropdown-header">목록:</h6>
            <a class="dropdown-item" href="/index.html" th:href="@{/complexList}">단지 목록</a>
            <a class="dropdown-item" href="/api/articleList" th:href="@{/articleList}">매물 목록</a>
            <a class="dropdown-item" href="/api/articleList" th:href="@{/api/articleList}">[API] 매물 목록</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">object2:</h6>
            <a class="dropdown-item" href="404.html">404 Page</a>
            <a class="dropdown-item" href="blank.html">Blank Page</a>
        </div>
    </li>

</ul>

</html>