
<!DOCTYPE html>
<html lang="ko">

<head>
    <title>11st DB Show - Sql Name</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">


    <!-- dbshow Custom styles for this template-->
    <link href="css/dbshow.css" rel="stylesheet">

</head>

<body id="page-top">

<header class="navbar navbar-expand navbar-dark bg-dark static-top">

    <nav class="navbar-light">
        <a class="navbar-brand mr-1" href="/index" style="color:rgb(255, 102, 102); font-size: 1.5rem;">
            <img src="img/11st-logo.png" class="d-inline-block align-top" alt="">
            DB Show
        </a>
    </nav>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>


    <!-- Navbar Search -->
    <!--
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>
    -->

    <ul class="navbar-nav ml-auto">
        <li>
            <span class="mr-2 d-none d-lg-inline text-white-50">노영삼 님 안녕하세요.</span>
        </li>
    </ul>
</header>

<section id="wrapper">

    <!-- Sidebar -->

    <ol class="sidebar navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="objectDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>운영 정보 조회</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="objectDropDown" >
                <h6 class="dropdown-header">System 정보;</h6>
                <a class="dropdown-item" href=/dashboard>Dashboard.</a>
                <a class="dropdown-item" href=/referencedObject>참조 Object.</a>
                <a class="dropdown-item" href=/daSyncData>Data Sync(Ogg &)</a>
                <a class="dropdown-item" href=""/>#mySession.</a>
                <div class="dropdown-divider"></div>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="sqlDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-folder"></i>
                <span>SQL 정보</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="sqlDropdown">
                <h6 class="dropdown-header">SQL 정보:</h6>
                <a class="dropdown-item" href="/sqlListByObject">SQL 검색.(by Table)</a>
                <a class="dropdown-item" href="/sqlNameList">SQL 검색.(by SqlName)</a>
                <!--<a class="dropdown-item" href="/sqlDetail">SQL Detail.</a>-->
                <a class="dropdown-item" href="/">#SQL 수행빈도.</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Top Sql</h6>
                <a class="dropdown-item" href=/topSqlDayList>Top SQL(Day)</a>
                <div class="dropdown-divider"></div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" id="opDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-folder"></i>
                <span>운영 기능</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="opDropdown">
                <h6 class="dropdown-header">운영 업무.</h6>
                <a class="dropdown-item active" href=#>#DB Jobs.</a>
                <a class="dropdown-item" href=#>#Object별 권한.</a>
                <a class="dropdown-item" href=#>#Plan Management.</a>
                <div class="dropdown-divider"></div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" id="sqlAreaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-folder"></i>
                <span>DB 분산</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="sqlAreaDropdown">
                <h6 class="dropdown-header">지표 관리.</h6>
                <a class="dropdown-item " href="/dbDistributionStats">DB 분산 Kpi(Week).</a>
                <a class="dropdown-item " href="/dbDistributionStats2">DB 분산 Kpi(Day).</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">논리 정의</h6>
                <a class="dropdown-item " href="/daTables">Table 조회.</a>
                <a class="dropdown-item" href="/logicalArea"/>논리 데이터 영역</a>
                <a class="dropdown-item" href="#"/>#논리 영역 SQL 조회</a>
                <a class="dropdown-item" href="#"/>#SQL별 참조 Object.</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">물리 영역 정보</h6>
                <a class="dropdown-item" href="#"/>#물리 영역 SQL 조회</a>
                <a class="dropdown-item" href="#"/>#뭐.?.</a>
                <div class="dropdown-divider"></div>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="testMenuDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Test</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="testMenuDropDown" >
                <h6 class="dropdown-header">Other Pages:</h6>
                <a class="dropdown-item" href="/daStdWordDic">행정표준단어(참고용)</a>
                <a class="dropdown-item" href="404.html">#404 Page</a>
                <a class="dropdown-item" href="blank.html">#Blank Page</a>
                <div class="dropdown-divider"></div>
            </div>
        </li>
    </ol>


    <section id="content-wrapper">
        <!-- Breadcrumbs-->

        <!--<ol class="breadcrumb" >-->
        <!--<li class="breadcrumb-item">-->
        <!--<a href="#">Dashboard</a>-->
        <!--</li>-->
        <!--<li class="breadcrumb-item active">Overview</li>-->
        <!--</ol>-->
        <!--<ul class="breadcrumb">-->
        <!--<li>Parameter:: </li> <li class="breadcrumb-item" th:each = "res : ${param}"  th:text=" ${res.key + ' : ' + res.value[0]}"></li>-->
        <!--</ul>-->





        <div class="card-header">
            <form class="" action="/sqlNameDetail">
                <div class="form-group">
                    <div class="form-inline">
                        <label for="dbId" class="mb-2 mr-sm-2 d-block" style="width: 50px;">DB ID</label>
                        <select id="dbId" name="dbId" class="form-control mb-2 mr-sm-2" style="width: 200px;">
                            <option value="1" selected="selected">TMALL</option>
                            <option value="4">DPDB</option>
                            <option value="5">MPDB</option>
                            <option value="6">CARTDB</option>
                            <option value="13">PRMTDB</option>
                        </select>

                        <label for="sqlNameNo" class="mb-2 mr-sm-2 d-block" style="width: 90px;">SqlNameNo</label>
                        <input type="text" id="sqlNameNo" name="sqlNameNo" class="form-control orderItem mr-sm-2" style="width: 200px;"value="3478" placeholder="sqlNameNo..(equal)">

                        <label for="clctDy" class="mb-2 mr-sm-2 d-block" style="width: 70px;">조회일자</label>
                        <input type="date" id="clctDy" name="clctDy" class="form-control mb-2 mr-sm-2" style="width: 200px;" value="2019-10-15" pattern="(?:19|20)[0-9]{2}(?:(?:0[1-9]|1[0-2])(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])(?:30))|(?:(?:0[13578]|1[02])-31))"
                               placeholder="YYYY-MM-DD" required>
                        <button class="btn btn-outline-info mb-2 mr-sm-2 " type="submit"> 검색 </button>
                    </div>
                </div>
            </form>
        </div>

        <!--
            <div class="card-header">
                <form class="" action="/sqlNameDetail">
                    <div class="form-group">
                        <div class="form-inline">
                            <div><label for="dbId" class="mb-2 mr-sm-2 d-block" style="width: 200px;">DB ID</label><input type="text" id="dbId" name="dbId" class="form-control mb-2 mr-sm-2" th:value="${param.dbId}" placeholder="dbId..(equal)"></div>
                            <div><label for="sqlNameNo" class="mb-2 mr-sm-2 d-block" style="width: 200px;">SQL Name No.</label>
                                <input type="text" id="sqlNameNo" name="sqlNameNo" class="form-control mb-2 mr-sm-2" th:value="${param.sqlNameNo}" placeholder="sqlNameNo..(equal)"></div>
                            <div><label for="clctDy" class="mb-2 mr-sm-2 d-block" style="width: 200px;">조회일자</label>
                                <input type="date" id="clctDy" name="clctDy" class="form-control mb-2 mr-sm-2" style="width: 200px;"th:value="${param.clctDy}" th:max="${#temporals.format(defaultDate, 'yyyy-MM-dd')}"
                                       pattern="(?:19|20)[0-9]{2}(?:(?:0[1-9]|1[0-2])(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])(?:30))|(?:(?:0[13578]|1[02])-31))"
                                       placeholder="YYYYMMDD"></div>
                            <div><label for="btn" class="mb-2 mr-sm-2 d-block" style="width: 200px;"></label><button id="btn" class="btn btn-outline-info mb-2 mr-sm-2" type="submit"> 검색 </button></div>
                        </div>
                    </div>
                </form>
            </div>
        -->

        <div class="card-body">

            <table class="table table-bordered">
                <thead class="text-white bg-info" >
                <tr>
                    <th class="bg-white text-black-50" width="180"><small>* From v$sqlarea</small></th>
                    <th class="text-center">대표 SQL_ID</th>
                    <th class="text-center">Executions</th>
                    <th class="text-center">Buffer Gets</th>
                    <th class="text-center">Elapsed Time</th>
                    <th class="text-center">Disk Reads</th>
                    <th class="text-center">Cpu Time</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <th>Value.</th>
                    <td>1rh6qkmq9xp7z</td>
                    <td>2566633615</td>
                    <td>1143344039</td>
                    <td>761069102496</td>
                    <td>190913680</td>
                    <td>91517910000</td>
                </tr>

                <tr>
                    <th scope="row">SQL Name</th>
                    <td class="text-nowrap" colspan="6">
                        <div style="overflow-x: auto;">
                            <code><h4>/* escrow - coupon - getAddDispCtgrPrdListByPrdNo */</h4></code>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Sql Full Text</th>
                    <td class="text-nowrap" colspan="6" >
                        <div style="height: 300px; padding: 5px; overflow-y: auto;">
                            <code style="white-space: pre-wrap; word-wrap: break-word; word-break: break-word;">SELECT /* escrow - coupon - getAddDispCtgrPrdListByPrdNo */
                                NVL(ADD_DISP_CTGR1_NO, ADD_DISP_CTGR_NO) AS addDispCtgr1No
                                , NVL(ADD_DISP_CTGR2_NO, ADD_DISP_CTGR_NO) AS addDispCtgr2No
                                , NVL(ADD_DISP_CTGR3_NO, ADD_DISP_CTGR_NO) AS addDispCtgr3No
                                , NVL(ADD_DISP_CTGR4_NO, ADD_DISP_CTGR_NO) AS addDispCtgr4No
                                FROM DP_ADD_DISP_CTGR_PRD
                                WHERE ADD_DISP_CLF_CD IN (SELECT DTLS_CD FROM SY_CO_DETAIL WHERE GRP_CD=&#39;DP002&#39;)
                                AND PRD_NO = :1 </code>
                        </div>
                    </td>
                </tr>

                </tbody>
                <!--<tbody th:unless="${not #strings.isEmpty(summaryModel.toString())}">-->


            </table>
            <table class="table table-bordered table-sm" id="dataTable" >
                <colgroup>
                    <col class="col60px">
                    <col class="col60px">
                    <col class="col60px">
                    <col class="col60px">
                    <!--<col class="col60px">-->
                    <col class="col60px">
                    <col class="col60px">
                    <!--<col class="col60px">-->
                    <col class="col60px">
                    <col class="col60px">
                    <!--<col class="col60px">-->
                    <col class="col60px">
                    <col class="col60px">
                    <!--<col class="col60px">-->
                    <col class="col60px">

                </colgroup>
                <thead class="thead-light table-thead-wrap-size">
                <tr>
                    <th>clctDy</th>
                    <th>dbId</th>
                    <th>SqlNameNo</th>
                    <th>currTotalExec</th>
                    <!--<th>prevTotalExec</th>-->
                    <th>execDiff</th>
                    <th>currTotalBget</th>
                    <!--<th>prevTotalBget</th>-->
                    <th>bgetDiff</th>
                    <th>currTotalCpu</th>
                    <!--<th>prevTotalCpu</th>-->
                    <th>cpuDiff</th>
                    <th>currTotalElap</th>
                    <!--<th>prevTotalElap</th>-->
                    <th>elapDiff</th>

                </tr>
                </thead>

                <tbody class="table-tbody-wrap-size">

                <tr>
                    <td >20191029</td>
                    <td >1</td>
                    <td >3478</td>
                    <td>374112486</td>
                    <!--<td th:text="${sqlVo.prevTotalExec}"></td>-->
                    <td>124382304</td>
                    <td>1505352530</td>
                    <!--<td th:text="${sqlVo.prevTotalBget}"></td>-->
                    <td>0</td>
                    <td>404321018128</td>
                    <!--<td th:text="${sqlVo.prevTotalCpu}"></td>-->
                    <td>10273694983</td>
                    <td>1955984035180</td>
                    <!--<td th:text="${sqlVo.prevTotalElap}"></td>-->
                    <td>48650581977</td>

                </tr>

                <tr>
                    <td >20191028</td>
                    <td >1</td>
                    <td >3478</td>
                    <td>249730182</td>
                    <!--<td th:text="${sqlVo.prevTotalExec}"></td>-->
                    <td>109191364</td>
                    <td>3954937009</td>
                    <!--<td th:text="${sqlVo.prevTotalBget}"></td>-->
                    <td>1623536890</td>
                    <td>394047323145</td>
                    <!--<td th:text="${sqlVo.prevTotalCpu}"></td>-->
                    <td>8578966018</td>
                    <td>1907333453203</td>
                    <!--<td th:text="${sqlVo.prevTotalElap}"></td>-->
                    <td>37176533483</td>

                </tr>

                <tr>
                    <td >20191027</td>
                    <td >1</td>
                    <td >3478</td>
                    <td>140538818</td>
                    <!--<td th:text="${sqlVo.prevTotalExec}"></td>-->
                    <td>92591733</td>
                    <td>2331400119</td>
                    <!--<td th:text="${sqlVo.prevTotalBget}"></td>-->
                    <td>1378369707</td>
                    <td>385468357127</td>
                    <!--<td th:text="${sqlVo.prevTotalCpu}"></td>-->
                    <td>7825372600</td>
                    <td>1870156919720</td>
                    <!--<td th:text="${sqlVo.prevTotalElap}"></td>-->
                    <td>35517673830</td>

                </tr>

                <tr>
                    <td >20191026</td>
                    <td >1</td>
                    <td >3478</td>
                    <td>47947085</td>
                    <!--<td th:text="${sqlVo.prevTotalExec}"></td>-->
                    <td>0</td>
                    <td>953030412</td>
                    <!--<td th:text="${sqlVo.prevTotalBget}"></td>-->
                    <td>0</td>
                    <td>377642984527</td>
                    <!--<td th:text="${sqlVo.prevTotalCpu}"></td>-->
                    <td>9169354958</td>
                    <td>1834639245890</td>
                    <!--<td th:text="${sqlVo.prevTotalElap}"></td>-->
                    <td>43977737480</td>

                </tr>

                <tr>
                    <td >20191025</td>
                    <td >1</td>
                    <td >3478</td>
                    <td>4234881295</td>
                    <!--<td th:text="${sqlVo.prevTotalExec}"></td>-->
                    <td>113035049</td>
                    <td>3636114698</td>
                    <!--<td th:text="${sqlVo.prevTotalBget}"></td>-->
                    <td>1695121735</td>
                    <td>368473629569</td>
                    <!--<td th:text="${sqlVo.prevTotalCpu}"></td>-->
                    <td>9751790860</td>
                    <td>1790661508410</td>
                    <!--<td th:text="${sqlVo.prevTotalElap}"></td>-->
                    <td>48249194703</td>

                </tr>

                <tr>
                    <td >20191024</td>
                    <td >1</td>
                    <td >3478</td>
                    <td>4121846246</td>
                    <!--<td th:text="${sqlVo.prevTotalExec}"></td>-->
                    <td>113407492</td>
                    <td>1940992963</td>
                    <!--<td th:text="${sqlVo.prevTotalBget}"></td>-->
                    <td>1702710393</td>
                    <td>358721838709</td>
                    <!--<td th:text="${sqlVo.prevTotalCpu}"></td>-->
                    <td>9583378524</td>
                    <td>1742412313707</td>
                    <!--<td th:text="${sqlVo.prevTotalElap}"></td>-->
                    <td>46551123493</td>

                </tr>

                <tr>
                    <td >20191023</td>
                    <td >1</td>
                    <td >3478</td>
                    <td>4008438754</td>
                    <!--<td th:text="${sqlVo.prevTotalExec}"></td>-->
                    <td>116841377</td>
                    <td>238282570</td>
                    <!--<td th:text="${sqlVo.prevTotalBget}"></td>-->
                    <td>0</td>
                    <td>349138460185</td>
                    <!--<td th:text="${sqlVo.prevTotalCpu}"></td>-->
                    <td>10026466036</td>
                    <td>1695861190214</td>
                    <!--<td th:text="${sqlVo.prevTotalElap}"></td>-->
                    <td>50033460067</td>

                </tr>

                <tr>
                    <td >20191022</td>
                    <td >1</td>
                    <td >3478</td>
                    <td>3891597377</td>
                    <!--<td th:text="${sqlVo.prevTotalExec}"></td>-->
                    <td>121217747</td>
                    <td>2783520450</td>
                    <!--<td th:text="${sqlVo.prevTotalBget}"></td>-->
                    <td>1807233309</td>
                    <td>339111994149</td>
                    <!--<td th:text="${sqlVo.prevTotalCpu}"></td>-->
                    <td>9976339813</td>
                    <td>1645827730147</td>
                    <!--<td th:text="${sqlVo.prevTotalElap}"></td>-->
                    <td>48197161479</td>

                </tr>

                <tr>
                    <td >20191021</td>
                    <td >1</td>
                    <td >3478</td>
                    <td>3770379630</td>
                    <!--<td th:text="${sqlVo.prevTotalExec}"></td>-->
                    <td>104448188</td>
                    <td>976287141</td>
                    <!--<td th:text="${sqlVo.prevTotalBget}"></td>-->
                    <td>0</td>
                    <td>329135654336</td>
                    <!--<td th:text="${sqlVo.prevTotalCpu}"></td>-->
                    <td>8394171083</td>
                    <td>1597630568668</td>
                    <!--<td th:text="${sqlVo.prevTotalElap}"></td>-->
                    <td>36534526694</td>

                </tr>

                <tr>
                    <td >20191020</td>
                    <td >1</td>
                    <td >3478</td>
                    <td>3665931442</td>
                    <!--<td th:text="${sqlVo.prevTotalExec}"></td>-->
                    <td>90556548</td>
                    <td>3704700210</td>
                    <!--<td th:text="${sqlVo.prevTotalBget}"></td>-->
                    <td>1358912787</td>
                    <td>320741483253</td>
                    <!--<td th:text="${sqlVo.prevTotalCpu}"></td>-->
                    <td>7784991120</td>
                    <td>1561096041974</td>
                    <!--<td th:text="${sqlVo.prevTotalElap}"></td>-->
                    <td>35495333342</td>

                </tr>

                <tr>
                    <td >20191019</td>
                    <td >1</td>
                    <td >3478</td>
                    <td>3575374894</td>
                    <!--<td th:text="${sqlVo.prevTotalExec}"></td>-->
                    <td>108023312</td>
                    <td>2345787423</td>
                    <!--<td th:text="${sqlVo.prevTotalBget}"></td>-->
                    <td>1606885262</td>
                    <td>312956492133</td>
                    <!--<td th:text="${sqlVo.prevTotalCpu}"></td>-->
                    <td>8992700102</td>
                    <td>1525600708632</td>
                    <!--<td th:text="${sqlVo.prevTotalElap}"></td>-->
                    <td>43295811660</td>

                </tr>

                <tr>
                    <td >20191018</td>
                    <td >1</td>
                    <td >3478</td>
                    <td>3467351582</td>
                    <!--<td th:text="${sqlVo.prevTotalExec}"></td>-->
                    <td>118525587</td>
                    <td>738902161</td>
                    <!--<td th:text="${sqlVo.prevTotalBget}"></td>-->
                    <td>0</td>
                    <td>303963792031</td>
                    <!--<td th:text="${sqlVo.prevTotalCpu}"></td>-->
                    <td>9607664864</td>
                    <td>1482304896972</td>
                    <!--<td th:text="${sqlVo.prevTotalElap}"></td>-->
                    <td>45776789221</td>

                </tr>

                <tr>
                    <td >20191017</td>
                    <td >1</td>
                    <td >3478</td>
                    <td>3348825995</td>
                    <!--<td th:text="${sqlVo.prevTotalExec}"></td>-->
                    <td>114797442</td>
                    <td>3282795490</td>
                    <!--<td th:text="${sqlVo.prevTotalBget}"></td>-->
                    <td>1706888629</td>
                    <td>294356127167</td>
                    <!--<td th:text="${sqlVo.prevTotalCpu}"></td>-->
                    <td>9568141698</td>
                    <td>1436528107751</td>
                    <!--<td th:text="${sqlVo.prevTotalElap}"></td>-->
                    <td>47305180346</td>

                </tr>

                <tr>
                    <td >20191016</td>
                    <td >1</td>
                    <td >3478</td>
                    <td>3234028553</td>
                    <!--<td th:text="${sqlVo.prevTotalExec}"></td>-->
                    <td>112209944</td>
                    <td>1575906861</td>
                    <!--<td th:text="${sqlVo.prevTotalBget}"></td>-->
                    <td>0</td>
                    <td>284787985469</td>
                    <!--<td th:text="${sqlVo.prevTotalCpu}"></td>-->
                    <td>10006361134</td>
                    <td>1389222927405</td>
                    <!--<td th:text="${sqlVo.prevTotalElap}"></td>-->
                    <td>49920537701</td>

                </tr>

                <tr>
                    <td >20191015</td>
                    <td >1</td>
                    <td >3478</td>
                    <td>3121818609</td>
                    <!--<td th:text="${sqlVo.prevTotalExec}"></td>-->
                    <td>101679389</td>
                    <td>4189268593</td>
                    <!--<td th:text="${sqlVo.prevTotalBget}"></td>-->
                    <td>1528881610</td>
                    <td>274781624335</td>
                    <!--<td th:text="${sqlVo.prevTotalCpu}"></td>-->
                    <td>9443278357</td>
                    <td>1339302389704</td>
                    <!--<td th:text="${sqlVo.prevTotalElap}"></td>-->
                    <td>46312216272</td>

                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer small text-muted">[content/sqlApplication.html] Updated at null</div>


        <div class="card-footer small text-muted">
            <ul class="row" style="list-style: none;">
                <li>Parameter:: </li> <li>clctDy : 2019-10-15</li> <li>dbId : 1</li> <li>sqlNameNo : 3478</li>
            </ul>
        </div>
    </section>

    <!-- Sticky Footer -->
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright © 11st DBshow 2019</span>
            </div>
        </div>
    </footer>
</section>

<!-- Scroll to Top Button-->
<aside >
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


</aside>


<!-- Bootstrap core JavaScript-->
<script type="text/javascript" src="vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script type="text/javascript" src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Page level plugin JavaScript-->
<script type="text/javascript" src="vendor/chart.js/Chart.min.js"></script>
<script type="text/javascript" src="vendor/datatables/jquery.dataTables.js"></script>
<script type="text/javascript" src="vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for all pages-->
<script type="text/javascript" src="js/sb-admin.min.js"></script>


<script type="text/javascript" >
    // Call the dataTables jQuery plugin
    $(document).ready(function() {
        $('#dataTable').dataTable({
            pageLength: 50,
            paging: true,
            searching: false,
            order:[0, 'desc']
        });
    });
</script>


<!-- db Show script -->
<script type="text/javascript" src="js/dbshow.js"></script>

</body>

</html>

