
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>11st DB Show - topSql Day List</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">


    <!-- dbshow Custom styles for this template-->
    <link href="css/dbshow.css" rel="stylesheet">

</head>

<body id="page-top">

<header class="navbar navbar-expand navbar-dark bg-dark static-top">

    <nav class="navbar-light">
        <a class="navbar-brand mr-1" href="/index" style="color:rgb(255, 102, 102); font-size: 1.5rem;">
            <img src="img/11st-logo.png" class="d-inline-block align-top" alt="">
            DB Show
        </a>
    </nav>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>


    <!-- Navbar Search -->
    <!--
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>
    -->

    <ul class="navbar-nav ml-auto">
        <li>
            <span class="mr-2 d-none d-lg-inline text-white-50">노영삼 님 안녕하세요.</span>
        </li>
    </ul>
</header>

<section id="wrapper">

    <!-- Sidebar -->

    <ol class="sidebar navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="objectDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>운영 정보 조회</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="objectDropDown" >
                <h6 class="dropdown-header">System 정보;</h6>
                <a class="dropdown-item" href=/dashboard>Dashboard.</a>
                <a class="dropdown-item" href=/referencedObject>참조 Object.</a>
                <a class="dropdown-item" href=/daSyncData>Data Sync(Ogg &)</a>
                <a class="dropdown-item" href=""/>#mySession.</a>
                <div class="dropdown-divider"></div>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="sqlDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-folder"></i>
                <span>SQL 정보</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="sqlDropdown">
                <h6 class="dropdown-header">SQL 정보:</h6>
                <a class="dropdown-item" href="/sqlListByObject">SQL 검색.(by Table)</a>
                <a class="dropdown-item" href="/sqlNameList">SQL 검색.(by SqlName)</a>
                <!--<a class="dropdown-item" href="/sqlDetail">SQL Detail.</a>-->
                <a class="dropdown-item" href="/">#SQL 수행빈도.</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Top Sql</h6>
                <a class="dropdown-item" href=/topSqlDayList>Top SQL(Day)</a>
                <div class="dropdown-divider"></div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" id="opDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-folder"></i>
                <span>운영 기능</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="opDropdown">
                <h6 class="dropdown-header">운영 업무.</h6>
                <a class="dropdown-item active" href=#>#DB Jobs.</a>
                <a class="dropdown-item" href=#>#Object별 권한.</a>
                <a class="dropdown-item" href=#>#Plan Management.</a>
                <div class="dropdown-divider"></div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" id="sqlAreaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-folder"></i>
                <span>DB 분산</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="sqlAreaDropdown">
                <h6 class="dropdown-header">지표 관리.</h6>
                <a class="dropdown-item " href="/dbDistributionStats">DB 분산 Kpi(Week).</a>
                <a class="dropdown-item " href="/dbDistributionStats2">DB 분산 Kpi(Day).</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">논리 정의</h6>
                <a class="dropdown-item " href="/daTables">Table 조회.</a>
                <a class="dropdown-item" href="/logicalArea"/>논리 데이터 영역</a>
                <a class="dropdown-item" href="#"/>#논리 영역 SQL 조회</a>
                <a class="dropdown-item" href="#"/>#SQL별 참조 Object.</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">물리 영역 정보</h6>
                <a class="dropdown-item" href="#"/>#물리 영역 SQL 조회</a>
                <a class="dropdown-item" href="#"/>#뭐.?.</a>
                <div class="dropdown-divider"></div>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="testMenuDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Test</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="testMenuDropDown" >
                <h6 class="dropdown-header">Other Pages:</h6>
                <a class="dropdown-item" href="/daStdWordDic">행정표준단어(참고용)</a>
                <a class="dropdown-item" href="404.html">#404 Page</a>
                <a class="dropdown-item" href="blank.html">#Blank Page</a>
                <div class="dropdown-divider"></div>
            </div>
        </li>
    </ol>


    <section id="content-wrapper">
        <!-- Breadcrumbs-->

        <!--<ol class="breadcrumb" >-->
        <!--<li class="breadcrumb-item">-->
        <!--<a href="#">Dashboard</a>-->
        <!--</li>-->
        <!--<li class="breadcrumb-item active">Overview</li>-->
        <!--</ol>-->
        <!--<ul class="breadcrumb">-->
        <!--<li>Parameter:: </li> <li class="breadcrumb-item" th:each = "res : ${param}"  th:text=" ${res.key + ' : ' + res.value[0]}"></li>-->
        <!--</ul>-->




        <div class="card-header">
            <form class="" action="/topSqlDayList">
                <div class="form-group">
                    <div class="form-inline" th:with="">
                        <label for="dbId" class="mb-2 mr-sm-2 d-block" style="width: 80px;">DB ID</label>
                        <select id="dbId" name="dbId" class="form-control mb-2 mr-sm-2" style="width: 160px;">
                            <option value="1" selected="selected">TMALL</option>
                            <option value="2">BIDB</option>
                            <option value="4">DPDB</option>
                            <option value="5">MPDB</option>
                            <option value="6">CARTDB</option>
                            <option value="13">PRMTDB</option>
                        </select>

                        <label for="orderString" class="mb-2 mr-sm-2 d-block" style="width: 80px;">정렬기준</label>
                        <select id="orderString" name="orderString" class="form-control mb-2 mr-sm-2" style="width: 160px;">
                            <option value="EXEC_DIFF" selected="selected">EXEC_DIFF</option>
                            <option value="BGET_DIFF">BGET_DIFF</option>
                            <option value="CPU_DIFF">CPU_DIFF</option>
                            <option value="ELA_DIFF">ELA_DIFF</option>
                        </select>

                        <label for="orderStringList" class="mb-2 mr-sm-2 d-block" style="width: 80px;">정렬기준</label>
                        <select id="orderStringList" name="orderStringList" class="form-control mb-2 mr-sm-2" style="width: 160px;" th:each="">
                            <option value="EXEC_DIFF" selected="selected">EXEC_DIFF</option>
                            <option value="BGET_DIFF">BGET_DIFF</option>
                            <option value="CPU_DIFF">CPU_DIFF</option>
                            <option value="ELA_DIFF">ELA_DIFF</option>
                        </select>

                        <label class="form-check-label mb-2 mr-sm-2">
                            <input class="form-check-input" type="checkbox" name="ascending" value="ASC"> 오름차순
                        </label>
                    </div>
                    <div class="form-inline align-bottom">
                        <label for="clctDy1" class="mb-2 mr-sm-2 d-block" style="width: 80px;">기준일자</label><input type="text" id="clctDy1" name="clctDy1" class="form-control mb-2 mr-sm-2" style="width: 160px;" value="20191014"  placeholder="YYYYMMDD">
                        <label for="clctDy2" class="mb-2 mr-sm-2 d-block" style="width: 80px;">비교대상</label><input type="text" id="clctDy2" name="clctDy2" class="form-control mb-2 mr-sm-2" style="width: 160px;"value="20191007"  placeholder="YYYYMMDD">
                        <button class="btn btn-outline-info mb-2 mr-sm-2 " type="submit"> 검색 </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="card-body">
            <table class="table table-bordered table-sm" id="dataTable" >
                <colgroup>
                    <col class="col60px">
                    <col class="col60px">
                    <col class="sqltext-wrap" style="max-width:600px">
                    <col class="col60px">
                    <col class="col60px">
                    <col class="col60px">
                    <col class="col60px">

                    <col class="col60px">   <!-- 순위변동 -->

                    <col class="col60px">
                    <col class="col60px">
                    <col class="col60px">
                    <col class="col60px">
                    <col class="col60px">

                </colgroup>
                <thead class="thead-light table-thead-wrap-size">
                <tr>
                    <th>기준일자 Rank</th>
                    <th>Sql ID</th>
                    <th>SQL Name</th>

                    <th>Exec</th>
                    <th>Bget</th>
                    <th>Cpu</th>
                    <th>Elap</th>

                    <th>순위변동</th>
                    <th>비교대상 Rank</th>
                    <th>Exec</th>
                    <th>Bget</th>
                    <th>Cpu</th>
                    <th>Elap</th>

                </tr>
                </thead>

                <tbody class="table-tbody-wrap-size">
                <tr>
                    <td >1</td>
                    <td >54fjjg0scujvt</td>
                    <td><a href="sqlNameDetail?clctDy=20190315&amp;dbId=13&amp;sqlNameNo=172901">/* sellerImdtDscMapper.xml getValidSellerImdtDscListByPrdNo */</a></td>

                    <td>92743768</td>
                    <td>405764257</td>
                    <td>3257371921</td>
                    <td>6508099928</td>


                    <!--<td th:text="${sqlVo.rank2} == 0 ? 'NEW!' : ${Diff}">-->
                    <td style="background-color: WHITE;">



                        <span>→0</span>
                    </td>

                    <td>1</td>
                    <td>95241540</td>
                    <td>419542821</td>
                    <td>3478338825</td>
                    <td>6336850711</td>

                </tr>
                <tr>
                    <td >2</td>
                    <td >3xatg2kup0mj9</td>
                    <td><a href="sqlNameDetail?clctDy=20190315&amp;dbId=13&amp;sqlNameNo=172900">/* elvstImdtDsc.xml getValidElvstImdtDscList */</a></td>

                    <td>13517843</td>
                    <td>798103149</td>
                    <td>2807476235</td>
                    <td>3166533850</td>


                    <!--<td th:text="${sqlVo.rank2} == 0 ? 'NEW!' : ${Diff}">-->
                    <td style="background-color: WHITE;">



                        <span>→0</span>
                    </td>

                    <td>2</td>
                    <td>14904865</td>
                    <td>872899207</td>
                    <td>2988769032</td>
                    <td>3434723423</td>

                </tr>
                <tr>
                    <td >3</td>
                    <td >6qhs6tb4s52jz</td>
                    <td><a href="sqlNameDetail?clctDy=20190315&amp;dbId=13&amp;sqlNameNo=172900">/* elvstImdtDsc.xml getValidElvstImdtDscList */</a></td>

                    <td>10909333</td>
                    <td>0</td>
                    <td>2169871826</td>
                    <td>2582662035</td>


                    <!--<td th:text="${sqlVo.rank2} == 0 ? 'NEW!' : ${Diff}">-->
                    <td style="background-color: WHITE;">



                        <span>→0</span>
                    </td>

                    <td>3</td>
                    <td>10726973</td>
                    <td>631985770</td>
                    <td>2081848546</td>
                    <td>2518175957</td>

                </tr>
                <tr>
                    <td >4</td>
                    <td >gc5n07ssvpuhg</td>
                    <td><a href="sqlNameDetail?clctDy=20190315&amp;dbId=13&amp;sqlNameNo=172900">/* elvstImdtDsc.xml getValidElvstImdtDscList */</a></td>

                    <td>8742706</td>
                    <td>489369301</td>
                    <td>1663295209</td>
                    <td>1871273818</td>


                    <!--<td th:text="${sqlVo.rank2} == 0 ? 'NEW!' : ${Diff}">-->
                    <td style="background-color: WHITE;">



                        <span>→0</span>
                    </td>

                    <td>4</td>
                    <td>10192618</td>
                    <td>0</td>
                    <td>1889277926</td>
                    <td>2163448894</td>

                </tr>
                <tr>
                    <td >5</td>
                    <td >0yky0cqgt59uy</td>
                    <td><a href="sqlNameDetail?clctDy=20190315&amp;dbId=13&amp;sqlNameNo=172900">/* elvstImdtDsc.xml getValidElvstImdtDscList */</a></td>

                    <td>8046838</td>
                    <td>458350478</td>
                    <td>1520899345</td>
                    <td>1826421514</td>


                    <!--<td th:text="${sqlVo.rank2} == 0 ? 'NEW!' : ${Diff}">-->
                    <td style="background-color: WHITE;">



                        <span>→0</span>
                    </td>

                    <td>5</td>
                    <td>7969082</td>
                    <td>454533293</td>
                    <td>1487387370</td>
                    <td>1807599994</td>

                </tr>
                <tr>
                    <td >6</td>
                    <td >b5aqhv4mt90wz</td>
                    <td><a href="sqlNameDetail?clctDy=20190315&amp;dbId=13&amp;sqlNameNo=172900">/* elvstImdtDsc.xml getValidElvstImdtDscList */</a></td>

                    <td>5688087</td>
                    <td>268489655</td>
                    <td>1022835850</td>
                    <td>1248286744</td>


                    <!--<td th:text="${sqlVo.rank2} == 0 ? 'NEW!' : ${Diff}">-->
                    <td style="background-color: WHITE;">



                        <span>→0</span>
                    </td>

                    <td>6</td>
                    <td>5262187</td>
                    <td>252995845</td>
                    <td>967258463</td>
                    <td>1218583125</td>

                </tr>
                <tr>
                    <td >7</td>
                    <td >d1vbhmum83d04</td>
                    <td><a href="sqlNameDetail?clctDy=20190315&amp;dbId=13&amp;sqlNameNo=172900">/* elvstImdtDsc.xml getValidElvstImdtDscList */</a></td>

                    <td>3688954</td>
                    <td>212331647</td>
                    <td>770061190</td>
                    <td>864012713</td>


                    <!--<td th:text="${sqlVo.rank2} == 0 ? 'NEW!' : ${Diff}">-->
                    <td style="background-color: WHITE;">



                        <span>→0</span>
                    </td>

                    <td>7</td>
                    <td>4086432</td>
                    <td>233576341</td>
                    <td>823266615</td>
                    <td>939867485</td>

                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer small text-muted">[content/sqlTopList.html] Updated at null</div>


        <div class="card-footer small text-muted">
            <ul class="row" style="list-style: none;">
                <li>Parameter:: </li> <li>dbId : 13</li> <li>orderString : EXEC_DIFF</li> <li>clctDy1 : 20191014</li> <li>clctDy2 : 20191007</li>
            </ul>
        </div>
    </section>

    <!-- Sticky Footer -->
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright © 11st DBshow 2019</span>
            </div>
        </div>
    </footer>
</section>

<!-- Scroll to Top Button-->
<aside >
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <div class="dim-layer">

        <div class="dimBg"></div>
        <div id="layer2" class="pop-layer">
            <div class="pop-container">
                <div class="pop-conts">
                    <!--content //-->
                    <p class="ctxt mb20">Sql Full Text.<br>
                        구현이 아직 안되었습니다. <br>
                        popup/sqlDetailPopup :: sqlFullText 로 데이터 입력이 필요합니다.<br>
                        jquery 로 div 에 inject Content(SQL) 하는 로직 구현 필요.<br>
                    </p>

                    <div class="btn-r">
                        <a href="#" class="dim-btn-layerClose">Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</aside>


<!-- Bootstrap core JavaScript-->
<script type="text/javascript" src="vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script type="text/javascript" src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Page level plugin JavaScript-->
<script type="text/javascript" src="vendor/chart.js/Chart.min.js"></script>
<script type="text/javascript" src="vendor/datatables/jquery.dataTables.js"></script>
<script type="text/javascript" src="vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for all pages-->
<script type="text/javascript" src="js/sb-admin.min.js"></script>


<script type="text/javascript" >
    // Call the dataTables jQuery plugin
    $(document).ready(function() {
        $('#dataTable').dataTable({
            pageLength: 50,
            paging: true,
            searching: false,
            scrollX:true
        });
    });
</script>


<!-- db Show script -->
<script type="text/javascript" src="js/dbshow.js"></script>

</body>

</html>

