<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorator/dbshowLayout}">

<head>
    <title>Sql Name</title>
</head>

<body>
<th:block layout:fragment="content">

    <div class="card-header d-flex">
    </div>

    <div class="card-body">
        <table class="table table-bordered table-sm" id="dataTable" >
            <colgroup>
                <col class="">
                <col class="">
                <col class="">
                <col class="">
                <col class="">

                <col class="">
                <col class="">
                <col style="width:300px; max-width:600px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">
            </colgroup>
            <thead class="thead-light table-thead-wrap-size">
            <tr>
                <th>번호</th>
                <th>단어구분명</th>
                <th>단어명(기본)</th>
                <th>단어명(영문)</th>
                <th>약어명(영문)</th>

                <th>주제영역명</th>
                <th>사용여부</th>
                <th>단어설명</th>
            </tr>
            </thead>

            <tbody class="table-tbody-wrap-size">

            <tr th:if="${not #lists.isEmpty(model)}" th:each="statVo : ${model}">
                <td th:text="${statVo.wordNo}" ></td>

                <td th:text="${statVo.WordClfNm}" ></td>
                <td th:text="${statVo.basiWordNm}" ></td>
                <td th:text="${statVo.engWordNm}" ></td>
                <td th:text="${statVo.engAbrvtNm}" ></td>
                <td th:text="${statVo.subjAreaNm}" ></td>
                <td th:text="${statVo.useYn}" ></td>
                <td th:text="${statVo.wordDesc}" ></td>

            </tr>
            </tbody>
        </table>
    </div>

    <div class="card-footer small text-muted" th:text="'[content/daStdWordDic.html] Updated at ' + ${serverTime}">Updated </div>
</th:block>

<th:block layout:fragment="content_aside">
</th:block>

<th:block layout:fragment="content_script">
    <script type="text/javascript" >
    // Call the dataTables jQuery plugin
    $(document).ready(function() {
        $('#dataTable').dataTable({
            pageLength: 25,
            paging: true,
            searching: true,
            scrollX:true,

            columnDefs: [
                {width: 60, targets:0},
                {width: 120, targets:1},
                // {width: 80, targets:2},
                // {width: 80, targets:4},
                // {width: 80, targets:5},
                {width: 160, targets:6},
                {width: 80, targets:7}
            ],
        });
    });
    </script>
</th:block>
</body>
</html>

