<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorator/dbshowLayout}">

<head>
    <title>DA Data Sync Info</title>
</head>

<body>
<th:block layout:fragment="content">

    <div class="card-header d-flex flex-row justify-content-between">
        <form class="form-inline " action="/daSyncData">
            <div class="d-flex flex-row">
                <label for="tableName" class="mr-2">Table 명 </label>
                <input type="text" id="tableName" name="tableName" class="form-control mr-sm-2" style="width: 200px;" th:value="${param.tableName}"  minlength="2" placeholder="Table Name..(equal)">
                <label for="hostName" class="mr-2">DB 명 </label>
                <input type="text" id="hostName" name="hostName" class="form-control mr-sm-2" style="width: 200px;" th:value="${param.hostName}" placeholder="HostName (like)">

                <button class="btn btn-outline-info ml-2 " type="submit"> 검색 </button>
            </div>
        </form>
        <div class="text-muted align-self-center" th:text="'OGG 동기화 현황 최종 수집 일자: ' + ${#strings.defaultString(#dates.format(daStatMngModel.updateDt, 'yyyy-MM-dd HH:mm:ss'),'No Result ')}"> Updated </div>
    </div>

    <div class="card-body">
        <table class="table table-bordered table-sm table-wrap" id="dataTable" >
            <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <thead class="thead-light table-thead-wrap-size">
            <tr>
                <th>sourceDB</th>
                <th>owner</th>
                <th>TableName</th>
                <th>TartgetDB(HostName : IP)</th>
                <th>UpdateDt</th>
            </tr>
            </thead>

            <tbody class="table-tbody-wrap-size">
            <tr th:each="objectVo : ${model}">
                <td th:text="${objectVo.sourceDb}" ></td>
                <td th:text="${objectVo.owner}"></td>
                <td th:text="${objectVo.tableName}"></td>
                <td th:text="${objectVo.hostname} + ' (' + ${objectVo.targetDb} + ')'"></td>
                <td th:text="${#dates.format(objectVo.updateDt, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer small text-muted" th:text="'[content/sqlApplication.html] Updated at ' + ${serverTime}">Updated </div>
</th:block>

<th:block layout:fragment="content_script">
    <script type="text/javascript" >
            // Call the dataTables jQuery plugin
            $(document).ready(function() {
                $('#dataTable').dataTable({
                    pageLength: 25,
                    paging: true,
                    searching: true
                });
            });
    </script>
</th:block>
</body>
</html>

