<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorator/dbshowLayout}">

<head>
    <title>DA Data Sync Info</title>
</head>

<body>
<th:block layout:fragment="content">

    <!-- DataTables Example -->
    <div class="card-header">
        <div><i class="fas fa-table">Table 명을 입력 후 검색을 누루세요.</i>
        </div>
        <p>
        <form class="d-none d-md-inline-block form-inline form-row" action="/daTables">
            <div class="input-group">
                <div class="col-auto input-group">
                    <select name="dbName">
                        <option value="ALL" selected>ALL</option>
                        <option value="TMALL" >Tmall</option>
                        <option value="DPDB">Dpdb</option>
                        <option value="MPDB">Mpdb</option>
                    </select>
                </div>
                <div class="col-auto input-group">
                    <input type="text" name="tableName" class="form-control" th:value="${param.tableName}" placeholder="Table Name..">
                    <input type="text" name="logicalAreaCd1" class="form-control" th:value="${param.logicalAreaCd1}" placeholder="LogicalAreaCd1..">
                    <input type="text" name="logicalAreaCd2" class="form-control" th:value="${param.logicalAreaCd2}" placeholder="Sub (LogicalAreaCd2)..">
                </div>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        </p>
    </div>

    <div class="card-body">
        <table class="table table-bordered table-sm table-wrap" id="dataTable" >
            <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <thead class="thead-light table-thead-wrap-size">
            <tr>
                <th>DB Name</th>
                <th>TableOwner</th>
                <th>TableName</th>
                <th>LogicalArea(: Sub)</th>
                <th>PhysicalArea</th>
                <th>Comments</th>
                <th>Table Created Dt</th>
                <th>표준대상여부</th>
            </tr>
            </thead>

            <tbody class="table-tbody-wrap-size">
            <tr th:each="objectVo : ${model}">
                <td th:text="${objectVo.dbName}" ></td>
                <td th:text="${objectVo.tableOwner}"></td>
                <td th:text="${objectVo.tableName}"></td>
                <td th:text="${objectVo.logicalAreaCd1} + ' : ' + ${objectVo.logicalAreaCd2}"></td>
                <td th:text="${objectVo.physicalAreaCd1}"></td>
                <td th:text="${objectVo.tableComments}"></td>
                <td th:text="${objectVo.tableCreateDt}"></td>
                <td th:text="${objectVo.standardObjectYn}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer small text-muted" th:text="'[content/sqlApplication.html] Updated at ' + ${serverTime}">Updated </div>
</th:block>

<th:block layout:fragment="content_script">
    <script type="text/javascript" >
        // Call the dataTables jQuery plugin
        $(document).ready(function() {
            $('#dataTable').dataTable({
                pageLength: 25,
                paging: true,
                searching: true
            });
        });
    </script>
</th:block>
</body>
</html>

