<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorator/dbshowLayout}">

<head>
    <title>DA Data Sync Info</title>
</head>

<body>
<th:block layout:fragment="content">


    <div id="search-form" class="card-header d-flex flex-row">
        <form class="form-inline" action="/daTableList">
            <div class="d-flex flex-row">

                <label for="dbId" class="mr-2">DB ID</label>
                <select id="dbId" name="dbId" class="form-control mr-sm-2" style="width: 200px;">
                    <option th:with="paramDbId= ${param.dbId == null} ? '0' : ${param.dbId.toString()}" th:each="dbItem : ${dbList}" th:value="${dbItem.getDbId()}" th:text="${dbItem.getDbNm()}" th:selected="${dbItem.getDbId()} == ${paramDbId}">
                    </option>
                </select>

                <label for="tableName" class="mr-2">Table 명</label>
                <input type="text" id="tableName" name="tableName" class="form-control mr-sm-2" style="width: 200px;" th:value="${param.tableName}" minlength="4" placeholder="Table Name..(Like)">
                <label for="subjAreaCd" class="mr-2">주제영역</label>
                <input type="text" id="subjAreaCd" name="subjAreaCd" class="form-control mr-sm-2" style="width: 200px;" th:value="${param.subjAreaCd}" minlength="2" placeholder="subjAreaCd..(equal)">
<!--
                <label for="logicalAreaCd" class="mr-2">주제영역</label>
                <input type="text" id="logicalAreaCd" name="logicalAreaCd" class="form-control mr-sm-2" style="width: 200px;" th:value="${param.logicalAreaCd}" minlength="2" placeholder="logicalAreaCd..(equal)">
                <label for="logicalAreaCd2" class="mr-2">상위 주제영역</label>
                <input type="text" id="logicalAreaCd2" name="logicalAreaCd2" class="form-control mr-sm-2" style="width: 200px;" th:value="${param.logicalAreaCd2}" minlength="2" placeholder="logicalAreaCd2..(equal)">
-->

                <button class="btn btn-outline-info ml-2" type="submit"> 검색 </button>
            </div>
        </form>
    </div>

    <div class="card-body">
        <table class="table table-bordered" id="dataTable" >
            <thead class="table-thead-wrap-size">
            <tr>
                <th>DB Name</th>
                <th>소유자</th>
                <th>Table명</th>
                <!--<th>Table명</th>-->
                <th>주제영역</th>
                <th>PhysicalArea</th>
                <th style="max-width:200px;">Comments</th>
                <th>Table Created Dt</th>
                <th>표준대상여부</th>
            </tr>
            </thead>

            <tbody class="table-tbody-wrap-size">
            <tr th:each="objectVo : ${model}">
                <td th:text="${objectVo.dbName}"></td>
                <td th:text="${objectVo.owner}"></td>
                <td style="height:1.5rem; text-align: left">
                    <span th:text="${objectVo.tableName}"> </span>
                    <a th:href="@{tableDetail(dbId=${objectVo.dbId}, owner=${objectVo.owner}, tableName=${objectVo.tableName})}" >
                        <img align="right" src="img/dat1.png" class="d-inline-block align-top" alt="" height="100%" >
                    </a>
                </td>

                <!--<td >-->
                    <!--<a th:href="@{tableDetail(dbId=${objectVo.dbId}, owner=${objectVo.owner}, tableName=${objectVo.tableName})}" >-->
                        <!--<img align="right" src="img/dat1.png" class="d-inline-block align-top" alt="" height="100%" >-->
                    <!--</a>-->
                <!--</td>-->
                <td th:text="${objectVo.hgrnkSubjAreaCd} + ' : ' + ${objectVo.subjAreaCd}"></td>
                <td th:text="${objectVo.physicalAreaCd}"></td>
                <td style="max-width:200px;" th:text="${objectVo.tableComments}"></td>
                <td th:text="${objectVo.tableCreateDt}"></td>
                <td th:text="${objectVo.standardObjectYn}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>

<th:block layout:fragment="content_script">
    <script type="text/javascript" >
        // Call the dataTables jQuery plugin
        $(document).ready(function() {
            $('#dataTable').dataTable({
                pageLength: 25,
                paging: true,
                searching: false,
                order: []
            });
        });
    </script>
</th:block>
</body>
</html>

