<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorator/dbshowLayout}">

<head>
    <title>Table 상세 정보</title>
</head>

<body>
<th:block layout:fragment="content">

    <div id="search-form" class="card-header d-flex flex-row">
        <form class="form-inline" action="/daTableDetail">
            <div class="d-flex flex-row">
                <label for="dbId" class="mr-2">DB ID</label>
                <select id="dbId" name="dbId" class="form-control mr-sm-2" style="width: 200px;">
                    <option th:with="paramDbId= ${param.dbId == null} ? '1' : ${param.dbId.toString()}" th:each="dbItem : ${dbList}" th:value="${dbItem.getDbId()}" th:text="${dbItem.getDbNm()}" th:selected="${dbItem.getDbId()} == ${paramDbId}">
                    </option>
                </select>

                <label for="owner" class="mr-2">Table Owner</label>
                <input type="text" id="owner" name="owner" class="form-control mr-sm-2" style="width: 200px;" th:value="${param.owner}" minlength="2" placeholder="owner..(equal)" required>
                <label for="tableName" class="mr-2">Table 명</label>
                <input type="text" id="tableName" name="tableName" class="form-control mr-sm-2" style="width: 200px;" th:value="${param.tableName}" minlength="2" placeholder="Table Name..(equal)" required>

                <button class="btn btn-outline-info ml-2" type="submit"> 검색 </button>
            </div>
        </form>
    </div>


    <div class="card-body">
        <h5>Table 정보</h5><hr>

        <table class="table-bordered table" id="tableInfo">
            <tbody>
            <tr class="text-white">
                <th rowspan="2" style="vertical-align: middle; text-align: center">DBMS Info</th>
                <th>DB 명</th>
                <th>OWNER</th>
                <th>OBJECT_NAME</th>
                <th>STATUS</th>
                <th>TEMPORARY</th>
                <th>생성일시</th>
                <th>동일 테이블명 목록(All DB)</th>
            </tr>
            <tr th:if = "${daObjectVO != null}">
                <td th:text="${GdaDbList.get(T(Integer).parseInt(daObjectVO.dbId))}">1</td>
                <!--<td th:text="${daObjectVO.dbId}">1</td>-->
                <td th:text="${daObjectVO.owner}">test</td>
                <td th:text="${daObjectVO.objectName}">test</td>
                <td th:text="${daObjectVO.status}">test</td>
                <td th:text="${daObjectVO.temporary}">test</td>
                <td th:text="${daObjectVO.created}">1900-01-01</td>
                <td rowspan="3">
                    <div style="overflow-y:auto; max-height: 120px;">
                        <table class="table-borderless table-sm">
                            <tr th:if="${not #lists.isEmpty(daObjectList)}" th:each="data : ${daObjectList}">
                                <td th:text="${data}" ></td>
                            </tr>
                            <tr th:unless="${not #lists.isEmpty(daObjectList)}">
                                <td>No data</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr th:unless="${daObjectVO != null}">
                <td colspan="100%"></td>
            </tr>

            <tr class="text-white">
                <th rowspan="2" style="vertical-align: middle; text-align: center">Data Info</th>
                <th>주제영역</th>
                <th>물리영역</th>
                <th>테이블 Comment</th>
                <th>표준화대상여부</th>
                <th>-</th>
                <th>-</th>
            </tr>
            <tr th:if = "${daTableVO != null}">
                <td th:text="${daTableVO.subjAreaCd}">test</td>
                <td th:text="${daTableVO.physicalAreaCd}">test</td>
                <td th:text="${daTableVO.tableComments}">test</td>
                <td th:text="${daTableVO.standardObjectYn}">test</td>
                <td></td>
                <td></td>
            </tr>
            <tr th:unless="${daTableVO != null}">
                <td colspan="100%"></td>
            </tr>
            </tbody>
        </table>


        <div class="">
            <h5>Data Info.</h5><hr>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#dataModification">Data 변경</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tableErd">ERD</a>
                </li>
            </ul>
            <!-- Tab contents -->
            <div class="tab-content">
                <div id="dataModification" class="tab-pane active"><br>

                    <h6 class="small">** Data 변경 정보는 통계 수치를 기반으로 하며, 실제와 상이할 수 있습니다. </h6>
                    <h6 class="small">** 최근 1주일간의 일 평균 변경량이며, 현재 TMALL 데이터만 제공되고 있습니다. (2020.01.15) </h6>
                    <table class="table-bordered table" id="tabModificationInfo">
                        <tbody>
                        <tr class="text-white">
                            <th>조회 발생량</th>
                            <th>Insert 발생량</th>
                            <th>Update 발생량</th>
                            <th>Delete 발생량</th>
                        </tr>
                        <tr th:if = "${tabModificationVO != null}">
                            <td>집계 예정</td>
                            <td th:text="${tabModificationVO.insertOccrCnt}">1</td>
                            <td th:text="${tabModificationVO.updateOccrCnt}">1</td>
                            <td th:text="${tabModificationVO.deleteOccrCnt}">1</td>
                        </tr>
                        <tr th:unless="${tabModificationVO != null}">
                            <td colspan="100%">변경량 정보 찾지 못했습니다.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="tableErd" class="tab-pane fade"><br>

                    <table class="table table-bordered table-sm" id="entityListGrid" >
                        <thead class="table-thead-wrap-size">
                        <tr>

                            <th class="sqltext-wrap" style="min-width:600px">주제영역 경로</th>
                            <th>Entity 명</th>
                            <th>주제영역 수정일시</th>
                            <th>Entity 유형</th>
                            <th>표준화</th>
                            <th>ERD Link</th>

                        </tr>
                        </thead>

                        <tbody class="table-tbody-wrap-size">
                        <tr th:if="${not #lists.isEmpty(damEntityVO)}" th:each="damEntityVO : ${damEntityVO}">

                            <td th:text="${damEntityVO.subjAreaNamePath}" style="min-width:600px">주제영역 경로</td>
                            <td th:text="${damEntityVO.entityName}" >Entity 명</td>
                            <td th:text="${damEntityVO.modifyDt}" >주제영역 수정일시</td>
                            <td th:text="${damEntityVO.entityType}" >Entity 유형</td>
                            <td th:text="${damEntityVO.entityStandardType}" >표준화</td>

                            <td style="height:1.5rem;" th:with="paramsData=${'modelTreeBy=ModelHistory,struId=' + damEntityVO.subjFieldId}">
                                <a th:href="@{https://dqm.11stcorp.com/popup.action(menu='Meta.model.modelviewer.ModelViewerGo', paramsData=${paramsData})}" target="_blank">
                                    <img align="center" src="img/Table1.png" class="d-inline-block align-top" alt="ERD Link" height="100%" ></a>
                            </td>
                        <tr th:unless="${damEntityVO != null}">
                            <td colspan="100%">DQM Data를 찾지 못했습니다.</td>
                        </tr>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--
        <div>
        <caption align="left">
            <h5>Data 변경 정보</h5>
            <h6 class="small">** Data 변경 정보는 통계 수치를 기반으로 하며, 실제와 상이할 수 있습니다. </h6>
            <h6 class="small">** 최근 1주일간의 일 평균 변경량이며, 현재 TMALL 데이터만 제공되고 있습니다. (2020.01.15) </h6>
        </caption>
        <table class="table-bordered table" id="tabModificationInfo">
            <tbody>
            <tr class="text-white">
                <th>조회 발생량</th>
                <th>Insert 발생량</th>
                <th>Update 발생량</th>
                <th>Delete 발생량</th>
            </tr>
            <tr th:if = "${tabModificationVO != null}">
                <td>집계 예정</td>
                <td th:text="${tabModificationVO.insertOccrCnt}">1</td>
                <td th:text="${tabModificationVO.updateOccrCnt}">1</td>
                <td th:text="${tabModificationVO.deleteOccrCnt}">1</td>
            </tr>
            <tr th:unless="${tabModificationVO != null}">
                <td colspan="100%">Data를 찾지 못했습니다.</td>
            </tr>
            </tbody>
        </table>
        </div>
-->
<!--
        <caption align="left"><h5>ERD 정보</h5></caption>

        <table class="table table-bordered table-sm" id="entityListGrid" >
            <thead class="table-thead-wrap-size">
            <tr>

                <th class="sqltext-wrap" style="min-width:600px">주제영역 경로</th>
                <th>Entity 명</th>
                <th>주제영역 수정일시</th>
                <th>Entity 유형</th>
                <th>표준화</th>
                <th>ERD Link</th>

            </tr>
            </thead>

            <tbody class="table-tbody-wrap-size">
            <tr th:if="${not #lists.isEmpty(damEntityVO)}" th:each="damEntityVO : ${damEntityVO}">

                <td th:text="${damEntityVO.subjAreaNamePath}" style="min-width:600px">주제영역 경로</td>
                <td th:text="${damEntityVO.entityName}" >Entity 명</td>
                <td th:text="${damEntityVO.modifyDt}" >주제영역 수정일시</td>
                <td th:text="${damEntityVO.entityType}" >Entity 유형</td>
                <td th:text="${damEntityVO.entityStandardType}" >표준화</td>

                <td style="height:1.5rem;" th:with="paramsData=${'modelTreeBy=ModelHistory,struId=' + damEntityVO.subjFieldId}">
                    <a th:href="@{https://dqm.11stcorp.com/popup.action(menu='Meta.model.modelviewer.ModelViewerGo', paramsData=${paramsData})}" target="_blank">
                        <img align="center" src="img/Table1.png" class="d-inline-block align-top" alt="ERD Link" height="100%" ></a>
                </td>

            </tr>
            </tbody>
        </table>
-->


        <div class="">
            <h5>Sql Application Info.</h5><hr>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#sqlNameList">SQL Name 목록</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#sqlIdList">Sql Id 목록</a>
                </li>
            </ul>


            <!-- Tab contents -->
            <div class="tab-content">
                <div id="sqlNameList" class="tab-pane active"><br>
                    <table class="table table-bordered table-sm" id="sqlNameListGrid" >
                        <thead class="table-thead-wrap-size">
                        <tr>
                            <!--<th>Data 수집시간</th>-->
                            <th>DB 명</th>
                            <th>Sql명 번호</th>
                            <th class="sqltext-wrap" style="max-width:600px">Sql 명</th>

                            <th>대표 Sql ID</th>
                            <th>사용자명</th>
                            <th>모듈명</th>
                            <th>최근행일시</th>

                            <th>수행횟수</th>
                            <!--<th>prevTotalExec</th>-->
                            <!--<th>execDiff</th>-->를

                            <th>평균 Buffer</th>
                            <th>평균 Cpu </th>
                            <th>평균 응답시간 </th>

                            <th>총 Read Buffer</th>
                            <!--<th>prevTotalBget</th>-->
                            <!--<th>bgetDiff</th>-->

                            <th>총 Cpu Time</th>

                            <th>총 응답시간</th>

                        </tr>
                        </thead>

                        <tbody class="table-tbody-wrap-size">
                        <tr th:if="${not #lists.isEmpty(sqlNameVOList)}" th:each="sqlVo : ${sqlNameVOList}">
                            <!--<td th:text="${sqlVo.clctDy}" ></td>-->

                            <td th:text="${GdaDbList.get(T(Integer).parseInt(sqlVo.dbId))}">1</td>
                            <td th:text="${sqlVo.sqlNameNo}" ></td>
                            <!--<td><a th:text="${sqlVo.sqlName}" href="#layer2" class="dim-btn-layer" /></td>-->
                            <td>
                                <a th:text="${sqlVo.sqlName}" th:href="@{sqlNameDetail(clctDy=${#temporals.format(defaultDate.plusDays(-15), 'yyyy-MM-dd')}, dbId=${sqlVo.dbId}, sqlNameNo=${sqlVo.sqlNameNo})}"/></td>

                            <td th:text="${sqlVo.repSqlId}"></td>
                            <td th:text="${sqlVo.parsingSchemaName}"></td>
                            <td th:text="${sqlVo.module}"></td>
                            <td th:text="${sqlVo.LastActiveTime}"></td>

                            <td th:text="${sqlVo.currTotalExec}" style="text-align: right"></td>
                            <!--<td th:text="${sqlVo.prevTotalExec}"></td>-->
                            <!--<td th:text="${sqlVo.execDiff}"></td>-->

                            <td th:with="tValue= ${sqlVo.currTotalExec <= 0} ? 0 : ${sqlVo.currTotalBget / sqlVo.currTotalExec}" th:text="${tValue}" style="text-align: right"></td>
                            <td th:with="tValue= ${sqlVo.currTotalExec <= 0} ? 0 : ${sqlVo.currTotalCpu / sqlVo.currTotalExec}" th:text="${tValue}" style="text-align: right"></td>
                            <td th:with="tValue= ${sqlVo.currTotalExec <= 0} ? 0 : ${sqlVo.currTotalElap / sqlVo.currTotalExec}" th:text="${tValue}" style="text-align: right"></td>


                            <td th:text="${sqlVo.currTotalBget}" style="text-align: right"></td>
                            <!--<td th:text="${sqlVo.prevTotalBget}"></td>-->
                            <!--<td th:text="${sqlVo.bgetDiff}"></td>-->

                            <td th:text="${sqlVo.currTotalCpu}" style="text-align: right"></td>

                            <td th:text="${sqlVo.currTotalElap}" style="text-align: right"></td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="sqlIdList" class="tab-pane fade"><br>

                    <table class="table table-bordered table-sm" id="sqlIdListGrid" >
                        <thead class="table-thead-wrap-size">
                        <tr>
                            <th>DB 명</th>
                            <th>Sql ID</th>
                            <th class="sqltext-wrap" style="max-width:600px">Sql 명</th>

                            <th>사용자명</th>
                            <th>모듈명</th>
                            <th>ProgramID</th>
                            <th>최근행일시</th>

                            <th>수행횟수</th>
                            <!--<th>prevTotalExec</th>-->
                            <!--<th>execDiff</th>-->를

                            <th>평균 Buffer</th>
                            <th>평균 Cpu </th>
                            <th>평균 응답시간 </th>

                            <th>총 Read Buffer</th>
                            <!--<th>prevTotalBget</th>-->
                            <!--<th>bgetDiff</th>-->

                            <th>총 Cpu Time</th>

                            <th>총 응답시간</th>

                        </tr>
                        </thead>

                        <tbody class="table-tbody-wrap-size">
                        <tr th:if="${not #lists.isEmpty(sqlIdVOList)}" th:each="sqlVo : ${sqlIdVOList}">
                            <td th:text="${GdaDbList.get(T(Integer).parseInt(sqlVo.dbId))}">1</td>
                            <td th:text="${sqlVo.sqlId}" ></td>
                            <td>
                                <a th:text="${sqlVo.sqlName}" th:href="@{sqlNameDetail(clctDy=${#temporals.format(defaultDate.plusDays(-15), 'yyyy-MM-dd')}, dbId=${sqlVo.dbId}, sqlNameNo=${sqlVo.sqlNameNo})}"/></td>

                            <td th:text="${sqlVo.parsingSchemaName}"></td>
                            <td th:text="${sqlVo.module}"></td>
                            <td th:text="${sqlVo.programId}"></td>
                            <td th:text="${sqlVo.LastActiveTime}"></td>
                            <td th:text="${sqlVo.currTotalExec}" style="text-align: right"></td>

                            <td th:with="tValue= ${sqlVo.currTotalExec <= 0} ? 0 : ${sqlVo.currTotalBget / sqlVo.currTotalExec}" th:text="${tValue}" style="text-align: right"></td>
                            <td th:with="tValue= ${sqlVo.currTotalExec <= 0} ? 0 : ${sqlVo.currTotalCpu / sqlVo.currTotalExec}" th:text="${tValue}" style="text-align: right"></td>
                            <td th:with="tValue= ${sqlVo.currTotalExec <= 0} ? 0 : ${sqlVo.currTotalElap / sqlVo.currTotalExec}" th:text="${tValue}" style="text-align: right"></td>

                            <td th:text="${sqlVo.currTotalBget}" style="text-align: right"></td>

                            <td th:text="${sqlVo.currTotalCpu}" style="text-align: right"></td>

                            <td th:text="${sqlVo.currTotalElap}" style="text-align: right"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</th:block>


<th:block layout:fragment="content_script">
    <script type="text/javascript" >
        // Call the dataTables jQuery plugin
        $(document).ready(function() {
            $('#sqlNameListGrid').dataTable({
                pageLength: 25,
                paging: true,
                searching: false,
                order: [],
                lengthChange: false
            });
        });

        // Call the dataTables jQuery plugin
        $(document).ready(function() {
            $('#sqlIdListGrid').dataTable({
                pageLength: 25,
                paging: true,
                searching: false,
                order: [],
                lengthChange: false
            });
        });


        // Call the dataTables jQuery plugin
        $(document).ready(function() {
            $('#entityListGrid').dataTable({
                pageLength: 25,
                paging: true,
                searching: false,
                order: [],
                lengthChange: false
            });
        });
    </script>
</th:block>
</body>
</html>

