<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorator/dbshowLayout}">

<head>
    <title>DA Data Sync Info</title>
</head>

<body>
<th:block layout:fragment="content">

    <div class="card-header">
        <form class="" action="/daTables">
            <div class="form-group">
                <div class="form-inline">

                    <label for="tableName" class="mb-2 mr-sm-2 d-block" style="width: 90px;">Table 명</label>
                    <input type="text" id="tableName" name="tableName" class="form-control orderItem mr-sm-2" style="width: 200px;" th:value="${param.tableName}" minlength="6" placeholder="Table Name..(equal)">
                    <label for="logicalAreaCd1" class="mb-2 mr-sm-2 d-block">분류영역1(Main)</label>
                    <input type="text" id="logicalAreaCd1" name="logicalAreaCd1" class="form-control orderItem mr-sm-2" style="width: 200px;" th:value="${param.logicalAreaCd1}" minlength="6" placeholder="logicalAreaCd1..(equal)">
                    <label for="logicalAreaCd2" class="mb-2 mr-sm-2 d-block">분류영역2(Sub)</label>
                    <input type="text" id="logicalAreaCd2" name="logicalAreaCd2" class="form-control orderItem mr-sm-2" style="width: 200px;" th:value="${param.logicalAreaCd2}" minlength="6" placeholder="logicalAreaCd2..(equal)">

                    <button class="btn btn-outline-info mb-2 mr-sm-2 " type="submit"> 검색 </button>
                </div>
            </div>
        </form>
    </div>

    <div class="card-body">
        <table class="table table-bordered table-sm table-wrap" id="dataTable" >
            <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <thead class="thead-light table-thead-wrap-size">
            <tr>
                <th>DB Name</th>
                <th>TableOwner</th>
                <th>TableName</th>
                <th>LogicalArea(: Sub)</th>
                <th>PhysicalArea</th>
                <th>Comments</th>
                <th>Table Created Dt</th>
                <th>표준대상여부</th>
            </tr>
            </thead>

            <tbody class="table-tbody-wrap-size">
            <tr th:each="objectVo : ${model}">
                <td th:text="${objectVo.dbName}"></td>
                <td th:text="${objectVo.tableOwner}"></td>
                <td th:text="${objectVo.tableName}"></td>
                <td th:text="${objectVo.logicalAreaCd1} + ' : ' + ${objectVo.logicalAreaCd2}"></td>
                <td th:text="${objectVo.physicalAreaCd1}"></td>
                <td th:text="${objectVo.tableComments}"></td>
                <td th:text="${objectVo.tableCreateDt}"></td>
                <td th:text="${objectVo.standardObjectYn}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer small text-muted" th:text="'[content/sqlApplication.html] Updated at ' + ${serverTime}">Updated </div>
</th:block>

<th:block layout:fragment="content_script">
    <script type="text/javascript" >
        // Call the dataTables jQuery plugin
        $(document).ready(function() {
            $('#dataTable').dataTable({
                pageLength: 25,
                paging: true,
                searching: false
            });
        });
    </script>
</th:block>
</body>
</html>

