<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorator/dbshowLayout}">

<head>
    <title>DA Data Sync Info</title>
</head>

<body>
<th:block layout:fragment="content">


    <div class="card-header d-flex flex-row">
        <form class="form-inline" action="/logicalArea">
            <div class="d-flex flex-row">
                <label for="logicalAreaCd" class="mr-2">분류영역1(Main)</label>
                <input type="text" id="logicalAreaCd" name="logicalAreaCd" class="form-control mr-sm-2" style="width: 200px;" th:value="${param.logicalAreaCd}" minlength="2" placeholder="logicalAreaCd..(equal)">
                <label for="logicalAreaCd2" class="mr-2">분류영역2(Sub)</label>
                <input type="text" id="logicalAreaCd2" name="logicalAreaCd2" class="form-control mr-sm-2" style="width: 200px;" th:value="${param.logicalAreaCd2}" minlength="2" placeholder="logicalAreaCd2..(equal)">

                <button class="btn btn-outline-info ml-2" type="submit"> 검색 </button>
            </div>
        </form>
    </div>

    </div>

    <div class="card-body">
        <table class="table table-bordered table-sm table-wrap" id="dataTable" >
            <colgroup>
                <col style="width:140px">
                <col style="width:140px">
                <col style="width:140px">
                <col style="width:140px">
                <col>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <thead class="thead-light table-thead-wrap-size">
            <tr>
                <th>분류영역1 (Main)</th>
                <th>분류영역2 (Sub)</th>
                <th>Table목록 (Link)</th>
                <th>SQL목록 (Link)</th>
                <th>총 Table 개수</th>
                <th>Tmall Table 개수</th>
                <th>DPDB Table 개수</th>
                <th>MPDB Table 개수</th>
                <th>other Table 개수</th>
            </tr>
            </thead>

            <tbody class="table-tbody-wrap-size">
            <tr th:each="objectVo : ${model}">
                <td>
                    <div th:if="${not #strings.isEmpty(objectVo.areaCd1)}">
                        <div style="width:200px; flex: 0 0 200px"><span th:text="${objectVo.areaCd1}">AreaCD1</span></div>
                        <!--<div style="width:80px; flex: 0 0 80px; text-align: center"><a href="logicalArea.html" th:href="@{daTableList(logicalAreaCd=${objectVo.areaCd1})}"><u><span>Table </span><i class="fas fa-table fa-2x"></i></u></a></div>-->
                        <!--<div style="width:80px; flex: 0 0 80px; text-align: center"><a href="logicalAreaSqlNameList.html" th:href="@{logicalAreaSqlNameList(logicalAreaCd=${objectVo.areaCd1})}"><u><span>SQL </span><i class="fas fa-question-circle fa-2x"></i></u></a></div>-->
                    </div>
                </td>

                <td>
                    <div th:if="${not #strings.isEmpty(objectVo.areaCd2)}">
                        <div style="width:200px; flex: 0 0 200px"><span th:text="${objectVo.areaCd2}">AreaCD1</span></div>
                        <!--<div style="width:80px; flex: 0 0 80px; text-align: center"><a href="logicalArea.html" th:href="@{daTableList(logicalAreaCd=${objectVo.areaCd1}, logicalAreaCd2=${objectVo.areaCd2})}"><u><span>Table </span><i class="fas fa-table fa-2x"></i></u></a></div>-->
                        <!--<div style="width:80px; flex: 0 0 80px; text-align: center"><a href="logicalAreaSqlNameList.html" th:href="@{logicalAreaSqlNameList(logicalAreaCd=${objectVo.areaCd1}, logicalAreaCd2=${objectVo.areaCd2})}"><u><span>SQL </span><i class="fas fa-question-circle fa-2x"></i></u></a></div>-->
                    </div>
                </td>

                <td style="height:1.5rem;">
                    <a href="logicalArea.html" th:href="@{daTableList(logicalAreaCd=${objectVo.areaCd1}, logicalAreaCd2=${objectVo.areaCd2})}">
                        <!--<i class="fas fa-table fa-2x"></i>-->
                        <img align="center" src="img/dat1.png" class="d-inline-block" alt="" height="100%" >
                        </a>
                </td>

                <td style="height:1.5rem;">
                    <a href="logicalArea.html" th:href="@{logicalAreaSqlNameList(logicalAreaCd=${objectVo.areaCd1}, logicalAreaCd2=${objectVo.areaCd2})}">
                        <!--<i class="fas fa-question-circle fa-2x"></i>-->
                        <img align="center" src="img/sql1.png" class="d-inline-block" alt="" height="100%" >
                    </a>
                </td>

                <td style="text-align: right;" th:text="${objectVo.allInstanceCnt}"></td>
                <td style="text-align: right;" th:text="${objectVo.db1Cnt}"></td>
                <td style="text-align: right;" th:text="${objectVo.db2Cnt}"></td>
                <td style="text-align: right;" th:text="${objectVo.db3Cnt}"></td>
                <td style="text-align: right;" th:text="${objectVo.otherInstanceCnt}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer small text-muted" th:text="'[content/logicalArea.html] Updated at ' + ${serverTime}">Updated </div>
</th:block>

<th:block layout:fragment="content_script">
    <script type="text/javascript" >
        // Call the dataTables jQuery plugin
        $(document).ready(function() {
            $('#dataTable').dataTable({
                pageLength: 200,
                paging: false,
                searching: false
            });
        });
    </script>
</th:block>
</body>
</html>

