<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorator/dbshowLayout}">

<head>
    <title>Sql Name</title>
</head>

<body>
<th:block layout:fragment="content">

    <div class="card-header d-flex flex-row">
        <form class="form-inline" action="/sqlNameList">
            <div class="form-group">
                <label for="dbId" class="mr-2">DB ID</label>
                <select id="dbId" name="dbId" class="form-control mr-sm-2" style="width: 200px;">
                    <option th:with="paramDbId= ${param.dbId == null} ? '0' : ${param.dbId.toString()}" th:each="dbItem : ${dbList}" th:value="${dbItem.getDbId()}" th:text="${dbItem.getDbNm()}" th:selected="${dbItem.getDbId()} == ${paramDbId}">
                    </option>
                </select>

                <label for="sqlName" class="mr-2">SQL 명</label>
                <input type="text" id="sqlName" name="sqlName" class="form-control mr-sm-2" style="width: 200px;"th:value="${param.sqlName}" minlength="4" placeholder="sqlName..(Like)">

                <button class="btn btn-outline-info ml-2 " type="submit"> 검색 </button>
            </div>
        </form>
    </div>

    <div class="card-body">
        <table class="table table-bordered table-sm" id="dataTable" >
            <thead class="thead-light table-thead-wrap-size">
            <tr>
                <!--<th>Data 수집시간</th>-->
                <th>DB ID</th>
                <th>Sql명 번호</th>
                <th class="sqltext-wrap" style="max-width:600px">Sql 명</th>

                <th>대표 Sql ID</th>
                <th>사용자명</th>
                <th>모듈명</th>
                <th>최근행일시</th>

                <th>총 수행횟수</th>
                <!--<th>prevTotalExec</th>-->
                <!--<th>execDiff</th>-->

                <th>총 Read Buffer</th>
                <!--<th>prevTotalBget</th>-->
                <!--<th>bgetDiff</th>-->

                <th>총 Cpu Time</th>
                <!--<th>prevTotalCpu</th>-->
                <!--<th>cpuDiff</th>-->

                <th>총 응답시간</th>
                <!--<th>prevTotalElap</th>-->
                <!--<th>elapDiff</th>-->

            </tr>
            </thead>

            <tbody class="table-tbody-wrap-size">
            <tr th:if="${not #lists.isEmpty(sqlNameListVO)}" th:each="sqlVo : ${sqlNameListVO}">
                <!--<td th:text="${sqlVo.clctDy}" ></td>-->
                <td th:text="${sqlVo.dbId}" ></td>
                <td th:text="${sqlVo.sqlNameNo}" ></td>
                <!--<td><a th:text="${sqlVo.sqlName}" href="#layer2" class="dim-btn-layer" /></td>-->
                <td><a th:text="${sqlVo.sqlName}" th:href="@{sqlNameDetail(clctDy=${defaultDate}, dbId=${sqlVo.dbId}, sqlNameNo=${sqlVo.sqlNameNo})}"/></td>
                <!--<td><a th:text="${sqlVo.sqlName}" th:href="@{sqlNameDetail(clctDy=${#dates.format(#dates.createNow(), 'yyyyMMdd')}, dbId=${sqlVo.dbId}, sqlNameNo=${sqlVo.sqlNameNo})}"/></td>-->

                <td th:text="${sqlVo.repSqlId}"></td>
                <td th:text="${sqlVo.parsingSchemaName}"></td>
                <td th:text="${sqlVo.module}"></td>
                <td th:text="${sqlVo.LastActiveTime}"></td>

                <td th:text="${sqlVo.currTotalExec}"></td>
                <!--<td th:text="${sqlVo.prevTotalExec}"></td>-->
                <!--<td th:text="${sqlVo.execDiff}"></td>-->

                <td th:text="${sqlVo.currTotalBget}"></td>
                <!--<td th:text="${sqlVo.prevTotalBget}"></td>-->
                <!--<td th:text="${sqlVo.bgetDiff}"></td>-->

                <td th:text="${sqlVo.currTotalCpu}"></td>
                <!--<td th:text="${sqlVo.prevTotalCpu}"></td>-->
                <!--<td th:text="${sqlVo.cpuDiff}"></td>-->

                <td th:text="${sqlVo.currTotalElap}"></td>
                <!--<td th:text="${sqlVo.prevTotalElap}"></td>-->
                <!--<td th:text="${sqlVo.elapDiff}"></td>-->

            </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer small text-muted" th:text="'[content/sqlNameDetail.html] Updated at ' + ${serverTime}">Updated </div>
</th:block>


<th:block layout:fragment="content_script">
    <script type="text/javascript" >
        // Call the dataTables jQuery plugin
        $(document).ready(function() {
            $('#dataTable').dataTable({
                pageLength: 50,
                paging: true,
                searching: false,
                scrollX:true
            });
        });
    </script>
</th:block>
</body>
</html>

