<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorator/dbshowLayout}">

<head>
    <title>Sql Name</title>
</head>

<body>
<th:block layout:fragment="content">

    <div class="card-header">
        <form class="" action="/sqlNameList">
            <div class="form-group">
                <div class="form-inline">
                    <label for="dbId" class="mb-2 mr-sm-2 d-block" style="width: 50px;">DB ID</label>
                    <select id="dbId" name="dbId" class="form-control mb-2 mr-sm-2" style="width: 200px;">
                        <option th:with="paramDbId= ${param.dbId == null} ? '0' : ${param.dbId.toString()}" th:each="dbItem : ${dbList}" th:value="${dbItem.getDbId()}" th:text="${dbItem.getDbNm()}" th:selected="${dbItem.getDbId()} == ${paramDbId}">
                        </option>
                    </select>

                    <label for="sqlName" class="mb-2 mr-sm-2 d-block" style="width: 90px;">SqlNameNo</label>
                    <input type="text" id="sqlName" name="sqlName" class="form-control orderItem mr-sm-2" style="width: 200px;"th:value="${param.sqlName}"
                           minlength="6" placeholder="sqlName..(Like)">

                    <button class="btn btn-outline-info mb-2 mr-sm-2 " type="submit"> 검색 </button>
                </div>
            </div>
        </form>
    </div>


    <div class="card-body">
        <table class="table table-bordered table-sm" id="dataTable" >
            <colgroup>
                <col class="col60px">
                <col class="col60px">
                <col class="sqltext-wrap" style="max-width:600px">
                <col>
                <col class="col60px">
                <col class="col60px">
                <col class="col60px">
            </colgroup>

            <thead class="thead-light table-thead-wrap-size">
            <tr>
                <th>SqlNameNo</th>
                <th>dbId</th>
                <th class="sqltext-wrap" style="max-width:600px">sqlName</th>
                <th>대표 Sql ID</th>
                <th>SchemaNm</th>
                <th>Module</th>
                <th>LastActiveTime</th>
            </tr>
            </thead>

            <tbody class="table-tbody-wrap-size">
            <tr th:if="${not #lists.isEmpty(sqlNameListVO)}" th:each="sqlNameListVO : ${sqlNameListVO}">

                <td th:text="${sqlNameListVO.sqlNameNo}" ></td>
                <td th:text="${sqlNameListVO.dbId}" ></td>

                <td th:if="${#strings.isEmpty(sqlNameListVO.sqlNameNo)}" th:text="${sqlNameListVO.sqlName}"></td>
                <td th:unless="${#strings.isEmpty(sqlNameListVO.sqlNameNo)}" >
                    <a th:text="${sqlNameListVO.sqlName}" th:href="@{sqlNameDetail(clctDy=${#temporals.format(defaultDate.plusDays(-15), 'yyyy-MM-dd')}, dbId=${sqlNameListVO.dbId}, sqlNameNo=${sqlNameListVO.sqlNameNo})}"/></td>

                <!--<td><a th:text="${sqlNameListVO.sqlName}" th:href="@{sqlNameDetail(clctDy=${defaultDate}, dbId=${sqlNameListVO.dbId}, sqlNameNo=${sqlNameListVO.sqlNameNo})}"/></td>-->

                <td th:text="${sqlNameListVO.repSqlId}"></td>
                <td th:text="${sqlNameListVO.parsingSchemaName}"></td>
                <td th:text="${sqlNameListVO.module}"></td>
                <td th:text="${sqlNameListVO.LastActiveTime}"></td>

            </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer small text-muted" th:text="'[content/sqlNameDetail.html] Updated at ' + ${serverTime}">Updated </div>
</th:block>


<th:block layout:fragment="content_script">
    <script type="text/javascript" >
        // Call the dataTables jQuery plugin
        $(document).ready(function() {
            $('#dataTable').dataTable({
                pageLength: 50,
                paging: true,
                searching: false,
                scrollX:true
            });
        });
    </script>
</th:block>
</body>
</html>

