<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorator/dbshowLayout}">

<head>
    <title>Sql Name</title>
</head>

<body>
<th:block layout:fragment="content">

    <div class="card-header">
        <form class="" action="/sqlNameDetail">
            <div class="form-group">
                <div class="form-inline">
                    <div><label for="dbId" class="mb-2 mr-sm-2 d-block" style="width: 200px;">DB ID</label><input type="text" id="dbId" name="dbId" class="form-control mb-2 mr-sm-2" th:value="${param.dbId}" placeholder="dbId..(equal)"></div>
                    <div><label for="sqlNameNo" class="mb-2 mr-sm-2 d-block" style="width: 200px;">SQL Name No.</label><input type="text" id="sqlNameNo" name="sqlNameNo" class="form-control mb-2 mr-sm-2" th:value="${param.sqlNameNo}" placeholder="sqlNameNo..(equal)"></div>
                    <div><label for="clctDy" class="mb-2 mr-sm-2 d-block" style="width: 200px;">조일자</label>
                        <input type="date" id="clctDy" name="clctDy" class="form-control mb-2 mr-sm-2" style="width: 200px;"th:value="${param.clctDy}" th:max="${#temporals.format(defaultDate, 'yyyy-MM-dd')}"
                               pattern="(?:19|20)[0-9]{2}(?:(?:0[1-9]|1[0-2])(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])(?:30))|(?:(?:0[13578]|1[02])-31))"
                               placeholder="YYYYMMDD"></div>
                    <div><label for="btn" class="mb-2 mr-sm-2 d-block" style="width: 200px;"></label><button id="btn" class="btn btn-outline-info mb-2 mr-sm-2" type="submit"> 검색 </button></div>
                </div>
            </div>
        </form>
    </div>

    <div class="card-body">

        <table class="table table-bordered">
            <thead class="text-white bg-info" >
            <tr>
                <th class="bg-white text-black-50" width="180"><small>*Cumulative value <br>From v$sqlarea</small></th>
                <th class="text-center">대표 SQL_ID</th>
                <th class="text-center">Executions</th>
                <th class="text-center">Buffer Gets</th>
                <th class="text-center">Elapsed Time</th>
                <th class="text-center">Disk Reads</th>
                <th class="text-center">Cpu Time</th>
            </tr>
            </thead>

            <tbody th:if="${not #strings.isEmpty(summaryModel.toString())}">
            <tr>
                <th>Value.</th>
                <td th:text="${summaryModel.repSqlId}">0</td>
                <td th:text="${summaryModel.executions}">0</td>
                <td th:text="${summaryModel.bufferGets}">0</td>
                <td th:text="${summaryModel.elapsedTime}">0</td>
                <td th:text="${summaryModel.diskReads}">0</td>
                <td th:text="${summaryModel.cpuTime}">0</td>
            </tr>
            <tr>
                <th scope="row">SQL Name</th>
                <td class="text-nowrap" colspan="6">
                    <div style="overflow-x: auto;">
                        <code><pre  th:text="${summaryModel.sqlName}"> sqlName.xml</pre></code>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Sql Full Text</th>
                <td class="text-nowrap" colspan="6" >
                    <div style="height: 300px; padding: 5px; overflow-y: auto;">
                        <code style="white-space: pre-wrap; word-wrap: break-word; word-break: break-word;" th:text="${sqlFullText}"> Sql Statements.
                        </code>
                    </div>
                </td>
            </tr>

            </tbody>
            <tbody th:unless="${not #strings.isEmpty(summaryModel.toString())}">
            <tr>
                <th scope="row">SQL Name</th>
                <td class="text-nowrap" colspan="100%">
                    <div>
                        Data 를 찾지 못 했습니다.
                    </div>
                </td>
            </tr>

            </tbody>

        </table>
        <table class="table table-bordered table-sm" id="dataTable" >
            <colgroup>
                <col class="col60px">
                <col class="col60px">
                <col class="col60px">
                <col class="col60px">
                <!--<col class="col60px">-->
                <col class="col60px">
                <col class="col60px">
                <!--<col class="col60px">-->
                <col class="col60px">
                <col class="col60px">
                <!--<col class="col60px">-->
                <col class="col60px">
                <col class="col60px">
                <!--<col class="col60px">-->
                <col class="col60px">

            </colgroup>
            <thead class="thead-light table-thead-wrap-size">
            <tr>
                <th>clctDy</th>
                <th>dbId</th>
                <th>SqlNameNo</th>
                <th>currTotalExec</th>
                <!--<th>prevTotalExec</th>-->
                <th>execDiff</th>
                <th>currTotalBget</th>
                <!--<th>prevTotalBget</th>-->
                <th>bgetDiff</th>
                <th>currTotalCpu</th>
                <!--<th>prevTotalCpu</th>-->
                <th>cpuDiff</th>
                <th>currTotalElap</th>
                <!--<th>prevTotalElap</th>-->
                <th>elapDiff</th>

            </tr>
            </thead>

            <tbody class="table-tbody-wrap-size">

            <tr th:if="${not #lists.isEmpty(histModel)}" th:each="sqlVo : ${histModel}">
                <td th:text="${sqlVo.clctDy}" ></td>
                <td th:text="${sqlVo.dbId}" ></td>
                <td th:text="${sqlVo.sqlNameNo}" ></td>
                <td th:text="${sqlVo.currTotalExec}"></td>
                <!--<td th:text="${sqlVo.prevTotalExec}"></td>-->
                <td th:text="${sqlVo.execDiff}"></td>
                <td th:text="${sqlVo.currTotalBget}"></td>
                <!--<td th:text="${sqlVo.prevTotalBget}"></td>-->
                <td th:text="${sqlVo.bgetDiff}"></td>
                <td th:text="${sqlVo.currTotalCpu}"></td>
                <!--<td th:text="${sqlVo.prevTotalCpu}"></td>-->
                <td th:text="${sqlVo.cpuDiff}"></td>
                <td th:text="${sqlVo.currTotalElap}"></td>
                <!--<td th:text="${sqlVo.prevTotalElap}"></td>-->
                <td th:text="${sqlVo.elapDiff}"></td>

            </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer small text-muted" th:text="'[content/sqlApplication.html] Updated at ' + ${serverTime}">Updated </div>
</th:block>


<th:block layout:fragment="content_script">
    <script type="text/javascript" >
        // Call the dataTables jQuery plugin
        $(document).ready(function() {
            $('#dataTable').dataTable({
                pageLength: 50,
                paging: true,
                searching: false,
                order:[0, 'desc']
            });
        });
    </script>
</th:block>
</body>
</html>

