<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorator/dbshowLayout}">

<head>
    <title>topSql Day List</title>
</head>

<body>
<th:block layout:fragment="content">

    <div class="card-header d-flex">
        <div class="p-1">
        <form class="d-none d-md-inline-block form-inline form-row" action="/topSqlDayList">
            <div class="input-group">
                <div class="col-auto input-group">
                    <!--<input type="text" name="sqlName" class="form-control" th:value="${param.sqlName}" placeholder="Sql Name..">-->
                    <div><label for="dbId">DB ID</label><input type="text" id="dbId" name="dbId" class="form-control" th:value="${dbId}" placeholder="1"></div>
                    <div><label for="clctDy1">수집일자1</label><input type="text" id="clctDy1" name="clctDy1" class="form-control" th:value="${param.clctDy1}" placeholder="YYYYMMDD"></div>
                    <div><label for="clctDy2">수집일자2</label><input type="text" id="clctDy2" name="clctDy2" class="form-control" th:value="${param.clctDy2}" placeholder="YYYYMMDD"></div>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        </div>
    </div>

    <div class="card-body">
        <table class="table table-bordered table-sm" id="dataTable" >
            <colgroup>
                <col class="col60px">
                <col class="col60px">
                <col class="sqltext-wrap" style="max-width:600px">
                <col class="col60px">
                <col class="col60px">
                <col class="col60px">
                <col class="col60px">

                <col class="col60px">   <!-- 순위변동 -->

                <col class="col60px">
                <col class="col60px">
                <col class="col60px">
                <col class="col60px">
                <col class="col60px">

            </colgroup>
            <thead class="thead-light table-thead-wrap-size">
            <tr>
                <th>일자1.Rank</th>
                <th>Sql ID</th>
                <th>SQL Name</th>

                <th>Exec</th>
                <th>Bget</th>
                <th>Cpu</th>
                <th>Elap</th>

                <th>순위변동</th>
                <th>일자2.Rank</th>
                <th>Exec</th>
                <th>Bget</th>
                <th>Cpu</th>
                <th>Elap</th>

            </tr>
            </thead>

            <tbody class="table-tbody-wrap-size">
            <tr th:if="${not #lists.isEmpty(model)}" th:each="sqlVo : ${model}">
                <td th:text="${sqlVo.rank}" ></td>
                <td th:text="${sqlVo.sqlId}" ></td>
                <td><a th:text="${sqlVo.sqlName}" th:href="@{sqlNameDetail(clctDy=${defaultDate}, dbId=${dbId}, sqlNameNo=${sqlVo.sqlNameNo})}"/></td>

                <td th:text="${sqlVo.executions}"></td>
                <td th:text="${sqlVo.bufferGets}"></td>
                <td th:text="${sqlVo.cpuTime}"></td>
                <td th:text="${sqlVo.elapsedTime}"></td>


                <!--<td th:text="${sqlVo.rank2} == 0 ? 'NEW!' : ${Diff}">-->
                <td th:with="Diff=${sqlVo.rank2 - sqlVo.rank}"
                    th:styleappend="'background-color: ' + ${T(com.st11.dbshow.common.DbShow).getRankColor(sqlVo.rank2, sqlVo.rank)} + ';'">
                    <span th:if="${sqlVo.rank2 == 0}" th:text="NEW!">-</span>
                    <span th:if="${Diff > 0}" th:text="'&#8593;' + ${Diff}">-</span>
                    <span th:if="${Diff < 0}" th:text="'&#8595;' + ${Diff}">-</span>
                    <span th:if="${Diff == 0}" th:text="'&#8594;' + ${Diff}">-</span>
                </td>

                <td th:text="${sqlVo.rank2}"></td>
                <td th:text="${sqlVo.executions2}"></td>
                <td th:text="${sqlVo.bufferGets2}"></td>
                <td th:text="${sqlVo.cpuTime2}"></td>
                <td th:text="${sqlVo.elapsedTime2}"></td>

            </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer small text-muted" th:text="'[content/sqlTopList.html] Updated at ' + ${serverTime}">Updated </div>
</th:block>

<th:block layout:fragment="content_aside">
    <div class="dim-layer">

        <div class="dimBg"></div>
        <div id="layer2" class="pop-layer">
            <div class="pop-container">
                <div class="pop-conts">
                    <!--content //-->
                    <p class="ctxt mb20">Sql Full Text.<br>
                    구현이 아직 안되었습니다. <br>
                    popup/sqlDetailPopup :: sqlFullText 로 데이터 입력이 필요합니다.<br>
                    jquery 로 div 에 inject Content(SQL) 하는 로직 구현 필요.<br>
                    </p>

                    <div class="btn-r">
                        <a href="#" class="dim-btn-layerClose">Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_script">
    <script type="text/javascript" >
    // Call the dataTables jQuery plugin
    $(document).ready(function() {
        $('#dataTable').dataTable({
            pageLength: 50,
            paging: true,
            searching: false,
            scrollX:true
        });
    });
    </script>
</th:block>
</body>
</html>

