<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorator/dbshowLayout}">

<head>
    <title>topSql Day List</title>
</head>

<body>
<th:block layout:fragment="content">

    <div class="card-header d-flex">
        <div class="p-1">
        <form class="d-none d-md-inline-block form-inline form-row" action="/topSqlDayList">
            <div class="input-group">
                <div class="col-auto input-group">
                    <!--<input type="text" name="sqlName" class="form-control" th:value="${param.sqlName}" placeholder="Sql Name..">-->
                    <div><input type="text" name="clcyDy1" class="form-control" th:value="${param.logicalAreaCd1}" placeholder="YYYYMMDD"></div>
                    <div><input type="text" name="clctDy2" class="form-control" th:value="${param.logicalAreaCd2}" placeholder="YYYYMMDD"></div>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        </div>
    </div>

    <div class="card-body">
        <table class="table table-bordered table-sm" id="dataTable" >
            <colgroup>
                <col class="col60px">
                <col class="col60px">
                <col class="sqltext-wrap" style="max-width:600px">
                <col class="col60px">
                <col class="col60px">
                <col class="col60px">
                <col class="col60px">
                <col class="col60px">
                <col class="col60px">
                <col class="col60px">
                <col class="col60px">
                <col class="col60px">

            </colgroup>
            <thead class="thead-light table-thead-wrap-size">
            <tr>
                <th>Rank</th>
                <th>Sql ID</th>
                <th>SQL Name</th>
                <th>Exec</th>
                <th>Bget</th>
                <th>Cpu</th>
                <th>Elap</th>
                <th>Rank</th>
                <th>Exec</th>
                <th>Bget</th>
                <th>Cpu</th>
                <th>Elap</th>

            </tr>
            </thead>

            <tbody class="table-tbody-wrap-size">
            <tr th:if="${not #lists.isEmpty(model)}" th:each="sqlVo : ${model}">
                <td th:text="${sqlVo.clctDy}" ></td>
                <td th:text="${sqlVo.dbId}" ></td>
                <td th:text="${sqlVo.sqlNameNo}" ></td>
                <!--<td><a th:text="${sqlVo.sqlName}" href="#layer2" class="dim-btn-layer" /></td>-->
                <td><a th:text="${sqlVo.sqlName}" th:href="@{sqlNameDetail(clctDy=${defaultDate}, dbId=${sqlVo.dbId}, sqlNameNo=${sqlVo.sqlNameNo})}"/></td>
                <!--<td><a th:text="${sqlVo.sqlName}" th:href="@{sqlNameDetail(clctDy=${#dates.format(#dates.createNow(), 'yyyyMMdd')}, dbId=${sqlVo.dbId}, sqlNameNo=${sqlVo.sqlNameNo})}"/></td>-->

                <td th:text="${sqlVo.repSqlId}"></td>
                <td th:text="${sqlVo.parsingSchemaName}"></td>
                <td th:text="${sqlVo.module}"></td>
                <td th:text="${sqlVo.LastActiveTime}"></td>

                <td th:text="${sqlVo.currTotalExec}"></td>
                <td th:text="${sqlVo.prevTotalExec}"></td>
                <td th:text="${sqlVo.execDiff}"></td>
                <td th:text="${sqlVo.currTotalBget}"></td>

            </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer small text-muted" th:text="'[content/sqlTopList.html] Updated at ' + ${serverTime}">Updated </div>
</th:block>

<th:block layout:fragment="content_aside">
    <div class="dim-layer">

        <div class="dimBg"></div>
        <div id="layer2" class="pop-layer">
            <div class="pop-container">
                <div class="pop-conts">
                    <!--content //-->
                    <p class="ctxt mb20">Sql Full Text.<br>
                    구현이 아직 안되었습니다. <br>
                    popup/sqlDetailPopup :: sqlFullText 로 데이터 입력이 필요합니다.<br>
                    jquery 로 div 에 inject Content(SQL) 하는 로직 구현 필요.<br>
                    </p>

                    <div class="btn-r">
                        <a href="#" class="dim-btn-layerClose">Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_script">
    <script type="text/javascript" >
    // Call the dataTables jQuery plugin
    $(document).ready(function() {
        $('#dataTable').dataTable({
            // pageLength: 25,
            paging: false,
            searching: true,
            scrollX:true
        });
    });
    </script>
</th:block>
</body>
</html>

