<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorator/dbshowLayout}">

<head>
    <title>Index</title>
</head>

<body>
<th:block layout:fragment="content">
    <!-- Icon Cards-->
    <div class="row" style="min-height: 300px; margin: 1px; padding-top: 10px">

        <div class="col-lg-6">
            <div class="card  o-hidden mb-3" style="min-height:300px">
                <div class="card-header" style="background: rgba(255, 99, 132, 0.2)">공지사항
                    <a class="text-black-50 float-right" href="#">
                        Go 공지사항
                        <span class="float-right">
                                <i class="fas float-right fa-angle-double-right"></i></span>
                    </a>
                </div>
                <div class="card-body" >

                    <div class="card-body-icon float-right">
                        <i class="fas fa-fw  fa-comments"></i>
                    </div>
                    <span width="50%">
                            <h5> 공지사항 </h5>
                            <ul>
                                <li> 11st DB Show 탄생. (Beta ver..)</li>
                                <li> 2019.10.23 Sql FullText 를 볼 수 있습니다. sql application에 함수명을 알 수 있습니다. </li>
                                <li> 2019.10.30 TopSql에 SKpay Data가 추가됩니다. (PSKPAYDB, PSKPAYPGDB) </li>
                                <li> 2020.01.03 Table 정보가 추가되었습니다. 메뉴 정리로 순서가 변경됩니다. </li>
                            </ul>
                        </span>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card mb-3" style="min-height:300px">
                <div class="card-header" style="background: rgba(255, 159, 64, 0.2)">
                    <i class="fas fa-chart-bar"></i> Simple KPI
                </div>
                <div class="card-body">
                    <span width="50%">
                        <h5>KPI Today (실행횟수 %)</h5>
                        <table class="table">

                            <thead class="thead-light table-thead-wrap-size">
                                <tr>
                                    <th>최종수집일자</th>
                                    <th>MainDB</th>
                                    <th>DPDB</th>
                                    <th>MPDB</th>
                                    <th>CartDB</th>
                                    <th>PrmtDB</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:if="${not #lists.isEmpty(kpiStats)}" th:each="kpiStatVo : ${kpiStats}">
                                <td th:text="${kpiStatVo.clctDy}" ></td>
                                <td th:text="${kpiStatVo.db1ExecutionRt}" ></td>
                                <td th:text="${kpiStatVo.db2ExecutionRt}" ></td>
                                <td th:text="${kpiStatVo.db3ExecutionRt}" ></td>
                                <td th:text="${kpiStatVo.db4ExecutionRt}" ></td>
                                <td th:text="${kpiStatVo.db5ExecutionRt}" ></td>
                                </tr>
                            </tbody>
                            </table>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="min-height: 25%; margin: 1px">
        <div class="col-lg-12">
            <div class="card mb-3" style="min-height:300px">
                <div class="card-header" style="background: rgba(75, 92, 242, 0.25)">
                    <i class="fas fa-chart-bar"></i> 데이터 수집 현황.
                </div>
                <!--<div class="card-body">-->
                <table class="table table-bordered ">
                    <caption>Date at collection data</caption>
                    <thead class="thead-light">
                    <tr>
                        <th>DB_ID </th>
                        <th>DB_NM </th>
                        <th>DA_SQL_FULLTEXT </th>
                        <th>DA_SQLAREA </th>
                        <th>DA_OBJECTS </th>
                        <th>DA_SYNC_TABLES </th>
                        <th>DA_SQLNAME_DTL_INFO </th>
                        <th>DA_SQLNAME_LIST </th>
                        <th>DA_SQLNAME_MAPP </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${not #lists.isEmpty(daStatMngAll)}" th:each="daStatMngAllVo : ${daStatMngAll}">
                        <td th:text="${daStatMngAllVo.dbId}" ></td>
                        <td th:text="${daStatMngAllVo.dbNm}" ></td>
                        <td th:text="${daStatMngAllVo.daSqlFullText}" ></td>
                        <td th:text="${daStatMngAllVo.daSqlarea}" ></td>
                        <td th:text="${daStatMngAllVo.daObjects}" ></td>
                        <td th:text="${daStatMngAllVo.daSyncTables}" ></td>
                        <td th:text="${daStatMngAllVo.daSqlnameDtlInfo}" ></td>
                        <td th:text="${daStatMngAllVo.daSqlnameList}" ></td>
                        <td th:text="${daStatMngAllVo.daSqlnameMapp}" ></td>
                    </tr>

                    </tbody>
                </table>
                <!--</div>-->
            </div>
        </div>
    </div>

    <div class="row" style="min-height: 25%; margin: 1px">
        <div class="col-lg-12">
            <div class="card mb-3" style="min-height:300px">
                <div class="card-header" style="background: rgba(75, 192, 192, 0.2)">
                    <i class="fas fa-chart-bar"></i> Api Service Help
                </div>

                <div class="card-body">
                        <span id="apiService" >
<!--
                            <ol th:if="${not #lists.isEmpty(sideBar)}" >
                                <li th:each="sideBar : ${sideBar}" th:text="${sideBar.url}"></li>
                            </ol>
                            <ol th:unless="${not #lists.isEmpty(sideBar)}">
                                <li> Data 가 없습니다.</li>
                            </ol>
                            -->
                        </span>
                </div>
            </div>
        </div>
    </div>

</th:block>

</body>
</html>
